---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/direct_credits
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"id":null,"amount":0.0,"bsb":null,"account_number":null,"account_name":null,"description":null,"reference":null,"date":"2017-07-03","process_date":null,"status":"New","result":null,"metadata":{}},"errors":["Account
        number can''t be blank","Account number is not a number","Account number is
        too short (minimum is 1 characters)","Account number must be numbers only","Account
        name can''t be blank","Bsb can''t be blank","Bsb is the incorrect format -
        expecting 111-222","Description can''t be blank","Amount must be greater than
        0"],"test":true}'
  recorded_at: Mon, 03 Jul 2017 04:16:10 GMT
recorded_with: VCR 3.0.3
