---
http_interactions:
- request:
    method: post
    uri: http://gateway.sandbox.fatzebra.com.au/v1.0/authenticate/decode_session
    body:
      encoding: UTF-8
      string: '{"token":"INVALID TOKEN","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":null,"errors":"Decoding JWT failed:
        The token is invalid","test":true}'
  recorded_at: Wed, 11 Sep 2019 05:28:05 GMT
recorded_with: VCR 3.0.3
