---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/credit_cards
    body:
      encoding: UTF-8
      string: '{"card_holder":"Card Holder","card_number":"4000000000002503","card_expiry":"02/2045","cvv":123,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Backend:
      - ip-10-100-22-12.ap-southeast-2.compute.internal
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"token":"9pdv7a4pkmod2ciuzshj","card_holder":"Card
        Holder","card_number":"400000XXXXXX2503","card_expiry":"2045-02-28","card_type":"VISA","card_category":"Credit","card_subcategory":"Standard","card_issuer":"Intl
        Hdqtrs Center Owned","card_country":"United States","authorized":true,"transaction_count":0,"alias":null},"errors":[],"test":true}'
  recorded_at: Tue, 20 Jan 2026 11:42:38 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/sdk/three_d_secure/setup
    body:
      encoding: UTF-8
      string: '{"card_token":"9pdv7a4pkmod2ciuzshj","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Backend:
      - ip-10-100-22-12.ap-southeast-2.compute.internal
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3ZjM0ZDI1My03NGIzLTQ3OTMtOGRjZC1jNzlkZjZlNjQyYmEiLCJpYXQiOjE3Njg5MDkzNTksImlzcyI6IjVkZDgzYmYwMGU0MjNkMTQ5OGRjYmFjYSIsImV4cCI6MTc2ODkxMjk1OSwiT3JnVW5pdElkIjoiNjE5ZDU1OTVlNGMxZGE1NTAzNmFjMTViIiwiUmVmZXJlbmNlSWQiOiJlMmNjOGM3OS01NjExLTQ5YTAtOTk0My02NmU5NWNlMzM2NDQifQ.W4ZTd5sL9A9_5CisVZkITWOacGHL9Pr6Nyt_xThEBS8","device_data_collection_url":"https://centinelapistag.cardinalcommerce.com/V1/Cruise/Collect","reference_id":"e2cc8c79-5611-49a0-9943-66e95ce33644"}'
  recorded_at: Tue, 20 Jan 2026 11:42:39 GMT
recorded_with: VCR 6.3.1
