---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches
    body:
      encoding: UTF-8
      string: "------FatZebraMultipartPost\r\nContent-Disposition: form-data; name=\"test\"\r\n\r\ntrue------FatZebraMultipartPost--\r\n"
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - multipart/form-data; boundary=----FatZebraMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{},"errors":"Filename is invalid. Must
        follow batch file pattern: BATCH-v1-TYPE-USERNAME-YYYYMMDD-reference.csv","test":true}'
  recorded_at: Mon, 03 Jul 2017 04:16:09 GMT
recorded_with: VCR 3.0.3
