version: 2
updates:
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: daily
    groups:
      non-major-dependencies:
        update-types:
          - "minor"
          - "patch"
