---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/bank_accounts
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"id":"071-B-X3Z3G0QG","account_name":"","account_number":"","bsb":"","created_at":null},"errors":["Number
        can''t be blank","Number is too short (minimum is 4 characters)","Number is
        not a number","Bsb can''t be blank","Bsb is the incorrect format - please
        use 123-456","Name can''t be blank"],"test":true}'
  recorded_at: Mon, 03 Jul 2017 03:55:54 GMT
recorded_with: VCR 3.0.3
