---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0//paypal/refunds?from=2020/08/05&limit=10&offset=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-PPR-SRR9FP7ZKXT9IXU3","amount":100,"refunded":"Approved","message":"Approved","transaction_id":"071-PPR-SRR9FP7ZKXT9IXU3","currency":"AUD","successful":true,"transaction_date":"2020-08-06T23:26:56+10:00","response_code":"00","standalone":false,"note_to_payer":"test
        note","invoice_id":"071-PPR-SRR9FP7ZKXT9IXU3","decimal_amount":1.0,"paypal_fee":2,"seller_payable_net_amount":98,"balance_available_for_refund":11900,"capture":"071-PPC-TUOHT8YJHBY7SBJU","order":"071-PPO-U7RRMGM3OY3V2ZMN"},{"id":"071-PPR-10HDHDI4QRHVDOGV","amount":10900,"refunded":"Approved","message":"Approved","transaction_id":"071-PPR-10HDHDI4QRHVDOGV","currency":"AUD","successful":true,"transaction_date":"2020-08-05T16:54:15+10:00","response_code":"00","standalone":false,"invoice_id":"071-PPR-10HDHDI4QRHVDOGV","decimal_amount":109.0,"paypal_fee":262,"seller_payable_net_amount":10638,"balance_available_for_refund":0,"capture":"071-PPC-JUNNKEGCHIOL1CFR","order":"071-PPO-RXFR2E6ILCIE6H[...]
