---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"10b6782c0501487f7361f1c9755f11d5","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"516580","id":"071-P-IX3LY0EJ","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"10b6782c0501487f7361f1c9755f11d5","currency":"AUD","transaction_id":"071-P-IX3LY0EJ","settlement_date":"2017-06-23","transaction_date":"2017-06-23T17:12:15+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PIX3LY0EJ","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Fri, 23 Jun 2017 07:12:15 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-IX3LY0EJ","amount":10000,"reference":"10b6782c0501487f7361f1c9755f11d5","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498201935,"id":"071-R-LUEXLZE7","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-LUEXLZE7","reference":"10b6782c0501487f7361f1c9755f11d5","currency":"AUD","successful":true,"transaction_date":"2017-06-23T17:12:15+10:00","response_code":"00","settlement_date":"2017-06-24","metadata":{},"standalone":false,"rrn":"071RLUEXLZE7"},"errors":[],"test":true}'
  recorded_at: Fri, 23 Jun 2017 07:12:15 GMT
recorded_with: VCR 3.0.3
