---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"7b4c80b5386b68a406620032bb57a8e0","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"329760","id":"071-P-6INRANZI","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"7b4c80b5386b68a406620032bb57a8e0","currency":"AUD","transaction_id":"071-P-6INRANZI","settlement_date":"2017-06-23","transaction_date":"2017-06-23T17:12:15+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P6INRANZI","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Fri, 23 Jun 2017 07:12:16 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-6INRANZI","amount":10000,"reference":"7b4c80b5386b68a406620032bb57a8e0","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498201936,"id":"071-R-31Y3LQRR","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-31Y3LQRR","reference":"7b4c80b5386b68a406620032bb57a8e0","currency":"AUD","successful":true,"transaction_date":"2017-06-23T17:12:16+10:00","response_code":"00","settlement_date":"2017-06-24","metadata":{},"standalone":false,"rrn":"071R31Y3LQRR"},"errors":[],"test":true}'
  recorded_at: Fri, 23 Jun 2017 07:12:16 GMT
recorded_with: VCR 3.0.3
