---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"0edcdad64254e379c8e081cd8aaa3515","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"161134","id":"071-P-GSA1FO3G","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"0edcdad64254e379c8e081cd8aaa3515","currency":"AUD","transaction_id":"071-P-GSA1FO3G","settlement_date":"2017-06-21","transaction_date":"2017-06-21T15:02:57+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PGSA1FO3G","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 21 Jun 2017 05:02:57 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-GSA1FO3G","amount":10000,"reference":"0edcdad64254e379c8e081cd8aaa3515","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498021378,"id":"071-R-U4FN8CCI","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-U4FN8CCI","reference":"0edcdad64254e379c8e081cd8aaa3515","currency":"AUD","successful":true,"transaction_date":"2017-06-21T15:02:58+10:00","response_code":"00","settlement_date":"2017-06-22","metadata":{},"standalone":false,"rrn":"071RU4FN8CCI"},"errors":[],"test":true}'
  recorded_at: Wed, 21 Jun 2017 05:02:58 GMT
recorded_with: VCR 3.0.3
