---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"54241e0da2a7a87d5e8ef93e3d2baf22","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"880024","id":"071-P-BOX6MN6I","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"54241e0da2a7a87d5e8ef93e3d2baf22","currency":"AUD","transaction_id":"071-P-BOX6MN6I","settlement_date":"2017-06-27","transaction_date":"2017-06-27T16:14:23+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PBOX6MN6I","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:23 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-BOX6MN6I","amount":10000,"reference":"54241e0da2a7a87d5e8ef93e3d2baf22","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498544064,"id":"071-R-6AV8WYL","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-6AV8WYL","reference":"54241e0da2a7a87d5e8ef93e3d2baf22","currency":"AUD","successful":true,"transaction_date":"2017-06-27T16:14:23+10:00","response_code":"00","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071R6AV8WYL"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:24 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-6AV8WYL","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1498544064","id":"071-R-6AV8WYL","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-6AV8WYL","reference":"54241e0da2a7a87d5e8ef93e3d2baf22","currency":"AUD","successful":false,"transaction_date":"2017-06-27T16:14:23+10:00","response_code":"99","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071R6AV8WYL"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:24 GMT
recorded_with: VCR 3.0.3
