---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"182eb840971416b26f930020ea572aa3","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"393731","id":"071-P-1KJZKO42","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"psqatscpl0tsprxtqu7d","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"182eb840971416b26f930020ea572aa3","currency":"AUD","transaction_id":"071-P-1KJZKO42","settlement_date":"2019-04-29","transaction_date":"2019-04-29T19:20:36+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P1KJZKO42","cvv_match":"M","metadata":{"authorization_tracking_id":"","original_transaction_reference":""},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:20:36 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-1KJZKO42","amount":10000,"reference":"182eb840971416b26f930020ea572aa3","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1556529636","id":"071-R-WH01OTD3","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-WH01OTD3","reference":"182eb840971416b26f930020ea572aa3","currency":"AUD","successful":true,"transaction_date":"2019-04-29T19:20:36+10:00","response_code":"00","settlement_date":"2019-04-30","metadata":{},"standalone":false,"rrn":"071RWH01OTD3"},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:20:36 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-WH01OTD3","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1556529636","id":"071-R-WH01OTD3","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-WH01OTD3","reference":"182eb840971416b26f930020ea572aa3","currency":"AUD","successful":true,"transaction_date":"2019-04-29T19:20:36+10:00","response_code":"00","settlement_date":"2019-04-30","metadata":{},"standalone":false,"rrn":"071RWH01OTD3"},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:20:36 GMT
recorded_with: VCR 3.0.3
