---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"a61b103bcd8dcb24fc4b2cb1507dcbe9","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"727799","id":"071-P-TDGUADUI","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8t7g8","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"a61b103bcd8dcb24fc4b2cb1507dcbe9","currency":"AUD","transaction_id":"071-P-TDGUADUI","settlement_date":"2018-08-12","transaction_date":"2018-08-12T11:12:23+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PTDGUADUI","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:21 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-TDGUADUI","amount":10000,"reference":"a61b103bcd8dcb24fc4b2cb1507dcbe9","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036344","id":"071-R-M5BP7GF3","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-M5BP7GF3","reference":"a61b103bcd8dcb24fc4b2cb1507dcbe9","currency":"AUD","successful":true,"transaction_date":"2018-08-12T11:12:24+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071RM5BP7GF3"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:21 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-M5BP7GF3","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036344","id":"071-R-M5BP7GF3","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-M5BP7GF3","reference":"a61b103bcd8dcb24fc4b2cb1507dcbe9","currency":"AUD","successful":false,"transaction_date":"2018-08-12T11:12:24+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071RM5BP7GF3"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:21 GMT
recorded_with: VCR 3.0.3
