---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"67d823d2da3a43f1c6991bc4f5811e4e","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"957316","id":"071-P-44NF6M0B","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"67d823d2da3a43f1c6991bc4f5811e4e","currency":"AUD","transaction_id":"071-P-44NF6M0B","settlement_date":"2017-06-27","transaction_date":"2017-06-27T16:14:22+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P44NF6M0B","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:23 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-44NF6M0B","amount":10000,"reference":"67d823d2da3a43f1c6991bc4f5811e4e","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498544063,"id":"071-R-CL0LANL4","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-CL0LANL4","reference":"67d823d2da3a43f1c6991bc4f5811e4e","currency":"AUD","successful":true,"transaction_date":"2017-06-27T16:14:23+10:00","response_code":"00","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071RCL0LANL4"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:23 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-CL0LANL4","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1498544063","id":"071-R-CL0LANL4","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-CL0LANL4","reference":"67d823d2da3a43f1c6991bc4f5811e4e","currency":"AUD","successful":false,"transaction_date":"2017-06-27T16:14:23+10:00","response_code":"99","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071RCL0LANL4"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:23 GMT
recorded_with: VCR 3.0.3
