---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"bafd837ad98567a46b91a07a62bba6b4","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"208743","id":"071-P-Y4QC7EMD","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"bafd837ad98567a46b91a07a62bba6b4","currency":"AUD","transaction_id":"071-P-Y4QC7EMD","settlement_date":"2017-06-27","transaction_date":"2017-06-27T16:14:21+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PY4QC7EMD","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:22 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-Y4QC7EMD","amount":10000,"reference":"bafd837ad98567a46b91a07a62bba6b4","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498544062,"id":"071-R-E1KW2ETH","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-E1KW2ETH","reference":"bafd837ad98567a46b91a07a62bba6b4","currency":"AUD","successful":true,"transaction_date":"2017-06-27T16:14:22+10:00","response_code":"00","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071RE1KW2ETH"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:22 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-E1KW2ETH","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1498544062","id":"071-R-E1KW2ETH","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-E1KW2ETH","reference":"bafd837ad98567a46b91a07a62bba6b4","currency":"AUD","successful":false,"transaction_date":"2017-06-27T16:14:22+10:00","response_code":"99","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071RE1KW2ETH"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:14:22 GMT
recorded_with: VCR 3.0.3
