---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"449eda86d99f65c3fb5578b2f529b203","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"365747","id":"071-P-2RRMVLH7","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke85x7f","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"449eda86d99f65c3fb5578b2f529b203","currency":"AUD","transaction_id":"071-P-2RRMVLH7","settlement_date":"2018-05-08","transaction_date":"2018-05-08T21:08:18.590+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P2RRMVLH7","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:08:18 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-2RRMVLH7","amount":10000,"reference":"449eda86d99f65c3fb5578b2f529b203","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1525777698","id":"071-R-ENOOXSHR","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-ENOOXSHR","reference":"449eda86d99f65c3fb5578b2f529b203","currency":"AUD","successful":true,"transaction_date":"2018-05-08T21:08:18.853+10:00","response_code":"00","settlement_date":"2018-05-09","metadata":{},"standalone":false,"rrn":"071RENOOXSHR"},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:08:18 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-ENOOXSHR","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1525777698","id":"071-R-ENOOXSHR","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-ENOOXSHR","reference":"449eda86d99f65c3fb5578b2f529b203","currency":"AUD","successful":false,"transaction_date":"2018-05-08T21:08:18.853+10:00","response_code":"00","settlement_date":"2018-05-09","metadata":{},"standalone":false,"rrn":"071RENOOXSHR"},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:08:19 GMT
recorded_with: VCR 3.0.3
