---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"72e79fd0baad3ca310d792317affb031","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"541948","id":"071-P-MAL6PO97","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"72e79fd0baad3ca310d792317affb031","currency":"AUD","transaction_id":"071-P-MAL6PO97","settlement_date":"2017-07-05","transaction_date":"2017-07-05T15:53:18+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PMAL6PO97","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:53:18 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-MAL6PO97","amount":10000,"reference":"72e79fd0baad3ca310d792317affb031","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1499233998,"id":"071-R-X6JLYZEA","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-X6JLYZEA","reference":"72e79fd0baad3ca310d792317affb031","currency":"AUD","successful":true,"transaction_date":"2017-07-05T15:53:18+10:00","response_code":"00","settlement_date":"2017-07-06","metadata":{},"standalone":false,"rrn":"071RX6JLYZEA"},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:53:18 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-X6JLYZEA","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1499233998","id":"071-R-X6JLYZEA","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-X6JLYZEA","reference":"72e79fd0baad3ca310d792317affb031","currency":"AUD","successful":false,"transaction_date":"2017-07-05T15:53:18+10:00","response_code":"99","settlement_date":"2017-07-06","metadata":{},"standalone":false,"rrn":"071RX6JLYZEA"},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:53:18 GMT
recorded_with: VCR 3.0.3
