---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"4bfc0e53b90a6bea7d8c2bf2304cdd61","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"579581","id":"071-P-578RUUXI","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8j2pa","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"4bfc0e53b90a6bea7d8c2bf2304cdd61","currency":"AUD","transaction_id":"071-P-578RUUXI","settlement_date":"2018-08-12","transaction_date":"2018-08-12T11:19:16+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P578RUUXI","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:19:13 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-578RUUXI","amount":10000,"reference":"4bfc0e53b90a6bea7d8c2bf2304cdd61","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036756","id":"071-R-A46JQ2P7","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-A46JQ2P7","reference":"4bfc0e53b90a6bea7d8c2bf2304cdd61","currency":"AUD","successful":true,"transaction_date":"2018-08-12T11:19:16+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071RA46JQ2P7"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:19:14 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/void
    body:
      encoding: UTF-8
      string: '{"id":"071-R-A46JQ2P7","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036756","id":"071-R-A46JQ2P7","amount":10000,"refunded":"Voided","message":"Voided","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-A46JQ2P7","reference":"4bfc0e53b90a6bea7d8c2bf2304cdd61","currency":"AUD","successful":false,"transaction_date":"2018-08-12T11:19:16+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071RA46JQ2P7"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:19:14 GMT
recorded_with: VCR 3.0.3
