---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"d942e91a6549a7be6fa7ff91e74b2a24","customer_ip":"1.2.3.4","capture":false,"currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.21.8
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"659832","id":"071-P-3NDVVJM1","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"2o2rxvvikqtjtb33jkdi","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"d942e91a6549a7be6fa7ff91e74b2a24","currency":"AUD","transaction_id":"071-P-3NDVVJM1","settlement_date":null,"transaction_date":"2021-06-09T09:45:54+10:00","response_code":"00","captured":false,"captured_amount":0,"rrn":"071P3NDVVJM1","cvv_match":"M","metadata":{"authorization_tracking_id":"","card_sequence_number":"","sca_exemption":"","scheme_token_used":"false","original_transaction_reference":""},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 Jun 2021 23:45:54 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/071-P-3NDVVJM1
    body:
      encoding: UTF-8
      string: '{"extend":true,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.21.8
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"659832","id":"071-P-3NDVVJM1","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"2o2rxvvikqtjtb33jkdi","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"d942e91a6549a7be6fa7ff91e74b2a24","currency":"AUD","transaction_id":"071-P-3NDVVJM1","settlement_date":null,"transaction_date":"2021-06-09T09:45:54+10:00","response_code":"00","captured":false,"captured_amount":0,"rrn":"071P3NDVVJM1","cvv_match":"M","metadata":{"sca_exemption":"","scheme_token_used":"false","card_sequence_number":"","authorization_tracking_id":"","original_transaction_reference":""},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 Jun 2021 23:45:54 GMT
recorded_with: VCR 3.0.3
