---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"4a395a60de25bccd8ee9f884178b2e4f","customer_ip":"1.2.3.4","capture":false,"currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"513689","id":"071-P-OLIA44E1","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8drvv","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"4a395a60de25bccd8ee9f884178b2e4f","currency":"AUD","transaction_id":"071-P-OLIA44E1","settlement_date":null,"transaction_date":"2018-05-08T21:07:31.073+10:00","response_code":"00","captured":false,"captured_amount":0,"rrn":"071POLIA44E1","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:31 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/071-P-OLIA44E1/capture
    body:
      encoding: UTF-8
      string: '{"amount":10000,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"513689","id":"071-P-OLIA44E1","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8drvv","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"4a395a60de25bccd8ee9f884178b2e4f","currency":"AUD","transaction_id":"071-P-OLIA44E1","settlement_date":"2018-05-08","transaction_date":"2018-05-08T21:07:31.073+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"81fd7f767352","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:31 GMT
recorded_with: VCR 3.0.3
