---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"3fe20db7f96271aeb553d1727bf4860a","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-I7CL08Z5","email":null,"reference":"3fe20db7f96271aeb553d1727bf4860a","first_name":"Harrold","last_name":"Humphries","created_at":"2019-04-29T19:17:13+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"r9f8sn0e829yjsvfbyu4","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:13 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-I7CL08Z5","reference":"8808117fe2d1954b920f3807d014a9d2","setup_fee":0,"amount":100,"start_date":"2019-07-28","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-EJOMRMB","customer":"071-C-I7CL08Z5","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"8808117fe2d1954b920f3807d014a9d2","description":null,"status":"Active","status_reason":"None","created_at":"2019-04-29T19:17:13+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-I4RC3XT7","payment_plan":"071-PP-EJOMRMB","reference":"8808117fe2d1954b920f3807d014a9d2-0001","amount":100,"currency":null,"scheduled_date":"2019-08-02","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-OGX48HX9","payment_plan":"071-PP-EJOMRMB","reference":"8808117fe2d1954b920f3807d014a9d2-0002","amount":100,"currency":null,"scheduled_date":"2019-08-09","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-DNQAPIZ","payment_plan":"071-PP-EJOMRMB","reference":"8808117fe2d1954b920f3807d014a9d2-0003","amount":100,"currency":null,"scheduled_date":"2019-08-16","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-CPZQR2SY","payment_plan":"071-PP-EJOMRMB","reference":"8808117fe2d1954b920f3807d014a9d2-0004","amount":100,"currency":null,"scheduled_date":"2019-08-23","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-O4UB9ZC3","payment_plan":"071-PP-EJOMRMB","reference":"8808117fe2d1954b920f3807d014a9d2-0005","amount":100,"currency":null,"scheduled_date":"2019-08-30","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:14 GMT
- request:
    method: delete
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-EJOMRMB
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-EJOMRMB","customer":"071-C-I7CL08Z5","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"8808117fe2d1954b920f3807d014a9d2","description":null,"status":"Cancelled","status_reason":"Other","created_at":"2019-04-29T19:17:13+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[]},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:14 GMT
recorded_with: VCR 3.0.3
