---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"c22b7252afb3c8ef6161a5ae5db2d104","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-6WWYY6IM","email":null,"reference":"c22b7252afb3c8ef6161a5ae5db2d104","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-03T09:12:21+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8t1pf","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:20 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-6WWYY6IM","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-T82RT58T","customer":"071-C-6WWYY6IM","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d","description":null,"status":"Active","status_reason":"None","created_at":"2018-05-03T09:12:22+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-BYRB38KK","payment_plan":"071-PP-T82RT58T","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d-0001","amount":100,"currency":null,"scheduled_date":"2018-05-04","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-LR7BX5UE","payment_plan":"071-PP-T82RT58T","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d-0002","amount":100,"currency":null,"scheduled_date":"2018-05-11","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-EMH3C7JI","payment_plan":"071-PP-T82RT58T","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d-0003","amount":100,"currency":null,"scheduled_date":"2018-05-18","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-5HNJOH10","payment_plan":"071-PP-T82RT58T","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d-0004","amount":100,"currency":null,"scheduled_date":"2018-05-25","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-X2FXLNRN","payment_plan":"071-PP-T82RT58T","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d-0005","amount":100,"currency":null,"scheduled_date":"2018-06-01","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:21 GMT
- request:
    method: delete
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-T82RT58T
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-T82RT58T","customer":"071-C-6WWYY6IM","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"fd8ebbc03ef1ecc5d66ec35533e3997d","description":null,"status":"Cancelled","status_reason":"Other","created_at":"2018-05-03T09:12:22+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[]},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:21 GMT
recorded_with: VCR 3.0.3
