---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"01d51d1369f3885622fbd0971b3335fc","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-B605Q6U8","email":null,"reference":"01d51d1369f3885622fbd0971b3335fc","first_name":"Harrold","last_name":"Humphries","created_at":"2017-06-26T16:15:56+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke86c5u","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},"errors":[],"test":true}'
  recorded_at: Mon, 26 Jun 2017 06:15:56 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-B605Q6U8","reference":"46c11c89887ee8317d4e126d192b059d","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-3VZFZHKA","customer":"071-C-B605Q6U8","amount":100,"currency":"AUD","setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"46c11c89887ee8317d4e126d192b059d","description":null,"status":"Active","status_reason":"None","created_at":"2017-06-26T16:15:56+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-WKEW7C73","payment_plan":"071-PP-3VZFZHKA","reference":"46c11c89887ee8317d4e126d192b059d-0001","amount":100,"currency":"AUD","scheduled_date":"2017-06-30","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-EQT6QV6R","payment_plan":"071-PP-3VZFZHKA","reference":"46c11c89887ee8317d4e126d192b059d-0002","amount":100,"currency":"AUD","scheduled_date":"2017-07-07","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-5SW3JVVD","payment_plan":"071-PP-3VZFZHKA","reference":"46c11c89887ee8317d4e126d192b059d-0003","amount":100,"currency":"AUD","scheduled_date":"2017-07-14","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-Q7AWL0FS","payment_plan":"071-PP-3VZFZHKA","reference":"46c11c89887ee8317d4e126d192b059d-0004","amount":100,"currency":"AUD","scheduled_date":"2017-07-21","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-YHUAPEQQ","payment_plan":"071-PP-3VZFZHKA","reference":"46c11c89887ee8317d4e126d192b059d-0005","amount":100,"currency":"AUD","scheduled_date":"2017-07-28","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Mon, 26 Jun 2017 06:15:56 GMT
- request:
    method: delete
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-3VZFZHKA
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-3VZFZHKA","customer":"071-C-B605Q6U8","amount":100,"currency":"AUD","setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"46c11c89887ee8317d4e126d192b059d","description":null,"status":"Cancelled","status_reason":"Other","created_at":"2017-06-26T16:15:56+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[]},"errors":[],"test":true}'
  recorded_at: Mon, 26 Jun 2017 06:15:56 GMT
recorded_with: VCR 3.0.3
