---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches
    body:
      encoding: UTF-8
      string: '{"file":"#<File:0x007fb3e8508310>","filename":"BATCH-v1-PURCHASE-TEST-20170628-7ffedf9c45a13f59728ba339704e543a.csv","multipart":true,"test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Purge-File:
      - 'false'
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-BF-49FI1GEV","filename":"BATCH-v1-PURCHASE-TEST-20170628-7ffedf9c45a13f59728ba339704e543a.csv","created_at":"2017-06-28T12:29:39+10:00","process_date":"2017-06-28","start_date":null,"completed_date":null,"status":"New","type":"PURCHASE","reference":"7ffedf9c45a13f59728ba339704e543a"},"errors":[],"test":false}'
  recorded_at: Wed, 28 Jun 2017 02:29:39 GMT
recorded_with: VCR 3.0.3
