---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches/BATCH-v1-PURCHASE-TEST-20190123-1e1b67870bfdd494bb3e36232b134ce9.csv
    body:
      encoding: UTF-8
      string: |
        1000,AUD,Order12345,John Doe 1,4444333322221111,12/2020,,Gizmo ABC 1
        2051,AUD,Order22345,John Doe 2,4444333322221111,12/2020,,Gizmo ABC 2
        3000,AUD,Order32345,John Doe 3,4444333322221111,12/2020,,Gizmo ABC 3
        4000,AUD,Order42345,John Doe 4,4444333322221111,12/2020,,Gizmo ABC 4
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3750@a5e3fa4
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-BF-3MT7IBMB","filename":"BATCH-v1-PURCHASE-TEST-20190123-1e1b67870bfdd494bb3e36232b134ce9.csv","created_at":"2019-01-23T15:05:24+11:00","process_date":"2019-01-23","start_date":null,"completed_date":null,"status":"New","type":"PURCHASE","reference":"1e1b67870bfdd494bb3e36232b134ce9"},"errors":[],"test":false}'
  recorded_at: Wed, 23 Jan 2019 04:05:24 GMT
recorded_with: VCR 3.0.3
