---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches
    body:
      encoding: UTF-8
      string: "------FatZebraMultipartPost\r\nContent-Disposition: form-data; name=\"BATCH-v1-PURCHASE-TEST-20170705-016bcc0661feae5d0219ab95fadb7e6b.csv\";
        filename=\"BATCH-v1-PURCHASE-TEST-20170705-016bcc0661feae5d0219ab95fadb7e6b.csv\"\r\nContent-Length:
        \r\nContent-Type: text/csv\r\nContent-Transfer-Encoding: binary\r\n\r\n1000,AUD,Order12345,John
        Doe 1,4444333322221111,12/2020,,Gizmo ABC 1\n2051,AUD,Order22345,John Doe
        2,4444333322221111,12/2020,,Gizmo ABC 2\n3000,AUD,Order32345,John Doe 3,4444333322221111,12/2020,,Gizmo
        ABC 3\n4000,AUD,Order42345,John Doe 4,4444333322221111,12/2020,,Gizmo ABC
        4\n\r\n------FatZebraMultipartPost\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\nBATCH-v1-PURCHASE-TEST-20170705-016bcc0661feae5d0219ab95fadb7e6b.csv------FatZebraMultipartPost\r\nContent-Disposition:
        form-data; name=\"test\"\r\n\r\ntrue------FatZebraMultipartPost--\r\n"
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - multipart/form-data; boundary=----FatZebraMultipartPost
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Purge-File:
      - 'false'
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-BF-SU4GOW5I","filename":"BATCH-v1-PURCHASE-TEST-20170705-016bcc0661feae5d0219ab95fadb7e6b.csv","created_at":"2017-07-05T15:53:07+10:00","process_date":"2017-07-05","start_date":null,"completed_date":null,"status":"New","type":"PURCHASE","reference":"016bcc0661feae5d0219ab95fadb7e6b"},"errors":[],"test":false}'
  recorded_at: Wed, 05 Jul 2017 05:53:07 GMT
recorded_with: VCR 3.0.3
