---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0//paypal/orders?from=2020/08/05&limit=10&offset=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-PPO-RXFR2E6ILCIE6HKI","reference":"82a8bc984e1dda3d10780a1c10eb5cb4","amount":0,"decimal_amount":0.0,"successful":true,"message":"Approved","currency":"AUD","transaction_id":"071-PPO-RXFR2E6ILCIE6HKI","transaction_date":"2020-08-05T06:27:55+10:00","intent":"CAPTURE","paypal_reference":"82a8bc984e1dda3d10780a1c10eb5cb4","invoice_id":"82a8bc984e1dda3d10780a1c10eb5cb4","status":"COMPLETED","authorized_amount":0.0,"captured_amount":110.0,"refunded_amount":110.0,"authorizations":[],"captures":[{"id":"071-PPC-JUNNKEGCHIOL1CFR","amount":11000,"decimal_amount":110.0,"captured_amount":11000,"successful":true,"message":"Approved","reference":"82a8bc984e1dda3d10780a1c10eb5cb4","captured":true,"currency":"AUD","transaction_id":"071-PPC-JUNNKEGCHIOL1CFR","transaction_date":"2020-08-05T06:27:55+10:00","response_code":"00","invoice_id":"82a8bc984e1dda3d10780a1c10eb5cb4","paypal_fee":294,"seller_receivable_net_amount":10706,"note_to_payer":"Sporting
        Goods","is_final_capture":true,"refunded_amount":11000,"balance_available_for_refund":0,"order":"071-PPO-RXFR2E6ILCIE6HKI"}],"refunds":[{"id":"071-PPR-7BIDZCFHPCCBUSJH","amount":100,"refunded":"Approved","message":"Approved","transaction_id":"071-PPR-7BIDZCFHPCCBUSJH","currency":"AUD","successful":true,"transaction_date":"2020-08-05T11:24:24+10:00","response_code":"00","standalone":false,"note_to_payer":"refund
        the rest","invoice_id":"071-PPR-7BIDZCFHPCCBUSJH","decimal_amount":1.0,"paypal_fee":2,"seller_payable_net_amount":98,"balance_available_for_refund":0,"capture":"071-PPC-JUNNKEGCHIOL1CFR","order":"071-PPO-RXFR2E6ILCIE6HKI"},{"id":"071-PPR-10HDHDI4QRHVDOGV","amount":10900,"refunded":"Approved","message":"Approved","transaction_id":"071-PPR-10HDHDI4QRHVDOGV","currency":"AUD","successful":true,"transaction_date":"2020-08-05T16:54:15+10:00","response_code":"00","standalone":false,"invoice_id":"071-PPR-10HDHDI4QRHVDOGV","decimal_amount":109.0,"paypal_fee":262,"seller_payable_net_amount":10638,"balance_available_for_refund":0,"capture":"071-PPC-JUNNKEGCHIOL1CFR","order":"071-PPO-RXFR2E6ILCIE6HKI"}],"payer":{"id":"CV5LBGRHGTXHY","email":"sb-qxxvi1315481@personal.example.com","address":{"country_code":"AU"}},"payee":{"id":"GE53HS375QX4J","email":"test-seller@example.com"}},{"id":"071-PPO-5ICGTHBIMG9T7D4I","reference":"f551972b-e61e-4403-bab1-dc2cdc99c7ff","amount":0,"decimal_amount":0.0,"successful":true,"message":"Approved","currency":"AUD","transaction_id":"071-PPO-5ICGTHBIMG9T7D4I","transaction_date":"2020-08-05T10:38:47+10:00","intent":"CAPTURE","paypal_reference":"f551972b-e61e-4403-bab1-dc2cdc99c7ff","invoice_id":"f551972b-e61e-4403-bab1-dc2cdc99c7ff","billing_agreement_token":"pb-dba1bbi7chtnpdrj2hbo","status":"COMPLETED","payment_source":"BILLING_AGREEMENT","authorized_amount":0.0,"captured_amount":11.0,"refunded_amount":11.0,"authorizations":[],"captures":[{"id":"071-PPC-RBJV9SSA7PWXVXFB","amount":1100,"decimal_amount":11.0,"captured_amount":1100,"successful":true,"message":"Approved","reference":"f551972b-e61e-4403-bab1-dc2cdc99c7ff","captured":true,"currency":"AUD","transaction_id":"071-PPC-RBJV9SSA7PWXVXFB","transaction_date":"2020-08-05T10:38:47+10:00","response_code":"00","invoice_id":"f551972b-e61e-4403-bab1-dc2cdc99c7ff"[...]
