---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/direct_debits
    body:
      encoding: UTF-8
      string: '{"description":"Confirmation","amount":42,"bsb":"1","account_name":"Test","account_number":"01","bank_account":"unknown","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{},"errors":["Could not find bank account
        unknown"],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:16:47 GMT
recorded_with: VCR 3.0.3
