---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"20c222445a309046aeca31792805ad6e","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"700367","id":"071-P-M75G5HKB","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke80ufx","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"20c222445a309046aeca31792805ad6e","currency":"AUD","transaction_id":"071-P-M75G5HKB","settlement_date":"2018-08-12","transaction_date":"2018-08-12T11:12:22+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PM75G5HKB","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:20 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"amount":1000,"reference":"24772e61748336eaea4a7f6ddbbd5409","transaction_id":"071-P-M75G5HKB","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036342","id":"071-R-7EQVIF3H","amount":1000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-7EQVIF3H","reference":"24772e61748336eaea4a7f6ddbbd5409","currency":"AUD","successful":true,"transaction_date":"2018-08-12T11:12:22+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071R7EQVIF3H"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:20 GMT
[...]
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds?limit=10&offset=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Back[...]
