---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"0a8ef645695d8bb427d8bee90783b595","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"987819","id":"071-P-WCR8XFAS","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"0a8ef645695d8bb427d8bee90783b595","currency":"AUD","transaction_id":"071-P-WCR8XFAS","settlement_date":"2017-06-27","transaction_date":"2017-06-27T15:09:31+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PWCR8XFAS","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 05:09:31 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"amount":10000,"reference":"0a8ef645695d8bb427d8bee90783b595","transaction_id":"071-P-WCR8XFAS","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498540171,"id":"071-R-A37QEY83","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-A37QEY83","reference":"0a8ef645695d8bb427d8bee90783b595","currency":"AUD","successful":true,"transaction_date":"2017-06-27T15:09:31+10:00","response_code":"00","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071RA37QEY83"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 05:09:31 GMT
[...]
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds?limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      -[...]
