---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/web_hooks
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"address":null,"events":null,"mode":null,"authentication_username":null,"authentication_password":"","is_active":null,"name":null,"id":null},"errors":["Address
        can''t be blank","Events is not included in the list","Mode is not included
        in the list"],"test":true}'
  recorded_at: Mon, 03 Jul 2017 03:25:09 GMT
recorded_with: VCR 3.0.3
