---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases?from=2017-06-21%2015:02:53%20%2B1000&limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[],"errors":[],"test":true,"records":0,"total_records":0,"page":1,"total_pages":0}'
  recorded_at: Wed, 21 Jun 2017 05:02:53 GMT
recorded_with: VCR 3.0.3
