---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"39d7e6079c56c0210479d539ca5a73d9","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-ZCFWQ3GE","email":null,"reference":"39d7e6079c56c0210479d539ca5a73d9","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-08T21:06:43.064+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke88u83","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:06:43 GMT
recorded_with: VCR 3.0.3
