---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"e53046190de3c04ab64c7ee7241c87d7","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-CBKT0YC7","email":null,"reference":"e53046190de3c04ab64c7ee7241c87d7","first_name":"Harrold","last_name":"Humphries","created_at":"2019-04-29T19:16:46+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"bzn5a5365w34hvgwxm5p","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:16:46 GMT
recorded_with: VCR 3.0.3
