---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches
    body:
      encoding: UTF-8
      string: '{"file":"#<File:0x007fdd6f4703c0>","filename":"BATCH-v1-PURCHASE-TEST-20170628-c5e266b39c8361e05592a13807f58526.csv","multipart":true,"test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Purge-File:
      - 'false'
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-BF-E7T9UFPX","filename":"BATCH-v1-PURCHASE-TEST-20170628-c5e266b39c8361e05592a13807f58526.csv","created_at":"2017-06-28T11:37:21+10:00","process_date":"2017-06-28","start_date":null,"completed_date":null,"status":"New","type":"PURCHASE","reference":"c5e266b39c8361e05592a13807f58526"},"errors":[],"test":false}'
  recorded_at: Wed, 28 Jun 2017 01:37:21 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches/c5e266b39c8361e05592a13807f58526?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-BF-E7T9UFPX","filename":"BATCH-v1-PURCHASE-TEST-20170628-c5e266b39c8361e05592a13807f58526.csv","created_at":"2017-06-28T11:37:21+10:00","process_date":"2017-06-28","start_date":null,"completed_date":null,"status":"Ingesting","type":"PURCHASE","reference":"c5e266b39c8361e05592a13807f58526"},"errors":[],"test":true}'
  recorded_at: Wed, 28 Jun 2017 01:37:21 GMT
recorded_with: VCR 3.0.3
