---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches/BATCH-v1-PURCHASE-TEST-20180508-ea5228f9920ffea1644fa3a3ee6d88ad.csv
    body:
      encoding: UTF-8
      string: "------FatZebraMultipartPost\r\nContent-Disposition: form-data; name=\"BATCH-v1-PURCHASE-TEST-20180508-ea5228f9920ffea1644fa3a3ee6d88ad.csv\";
        filename=\"BATCH-v1-PURCHASE-TEST-20180508-ea5228f9920ffea1644fa3a3ee6d88ad.csv\"\r\nContent-Length:
        \r\nContent-Type: text/csv\r\nContent-Transfer-Encoding: binary\r\n\r\n1000,AUD,Order12345,John
        Doe 1,4444333322221111,12/2020,,Gizmo ABC 1\n2051,AUD,Order22345,John Doe
        2,4444333322221111,12/2020,,Gizmo ABC 2\n3000,AUD,Order32345,John Doe 3,4444333322221111,12/2020,,Gizmo
        ABC 3\n4000,AUD,Order42345,John Doe 4,4444333322221111,12/2020,,Gizmo ABC
        4\n\r\n------FatZebraMultipartPost\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\nBATCH-v1-PURCHASE-TEST-20180508-ea5228f9920ffea1644fa3a3ee6d88ad.csv------FatZebraMultipartPost\r\nContent-Disposition:
        form-data; name=\"test\"\r\n\r\ntrue------FatZebraMultipartPost--\r\n"
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - multipart/form-data; boundary=----FatZebraMultipartPost
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-BF-7XKGF6LN","filename":"BATCH-v1-PURCHASE-TEST-20180508-ea5228f9920ffea1644fa3a3ee6d88ad.csv","created_at":"2018-05-08T21:06:34.074+10:00","process_date":"2018-05-08","start_date":null,"completed_date":null,"status":"New","type":"PURCHASE","reference":"ea5228f9920ffea1644fa3a3ee6d88ad"},"errors":[],"test":false}'
  recorded_at: Tue, 08 May 2018 11:06:34 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches/ea5228f9920ffea1644fa3a3ee6d88ad?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-BF-7XKGF6LN","filename":"BATCH-v1-PURCHASE-TEST-20180508-ea5228f9920ffea1644fa3a3ee6d88ad.csv","created_at":"2018-05-08T21:06:34.074+10:00","process_date":"2018-05-08","start_date":null,"completed_date":null,"status":"Ingesting","type":"PURCHASE","reference":"ea5228f9920ffea1644fa3a3ee6d88ad"},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:06:34 GMT
recorded_with: VCR 3.0.3
