---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"6f4821d3935465e64c0b8dedfbc7e409","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"536972","id":"071-P-4O1K65MX","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8n73t","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"6f4821d3935465e64c0b8dedfbc7e409","currency":"AUD","transaction_id":"071-P-4O1K65MX","settlement_date":"2017-11-30","transaction_date":"2017-11-30T12:06:55+11:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P4O1K65MX","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:06:56 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/6f4821d3935465e64c0b8dedfbc7e409?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"536972","id":"071-P-4O1K65MX","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8n73t","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"6f4821d3935465e64c0b8dedfbc7e409","currency":"AUD","transaction_id":"071-P-4O1K65MX","settlement_date":"2017-11-30","transaction_date":"2017-11-30T12:06:55+11:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P4O1K65MX","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:06:57 GMT
recorded_with: VCR 3.0.3
