---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"e6dcba47b1e2cf0d64fd2cf7a4235466","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"461837","id":"071-P-KPN8H47A","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8n73t","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"e6dcba47b1e2cf0d64fd2cf7a4235466","currency":"AUD","transaction_id":"071-P-KPN8H47A","settlement_date":"2017-11-30","transaction_date":"2017-11-30T12:07:00+11:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PKPN8H47A","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:07:01 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/e6dcba47b1e2cf0d64fd2cf7a4235466?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"461837","id":"071-P-KPN8H47A","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8n73t","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"e6dcba47b1e2cf0d64fd2cf7a4235466","currency":"AUD","transaction_id":"071-P-KPN8H47A","settlement_date":"2017-11-30","transaction_date":"2017-11-30T12:07:00+11:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PKPN8H47A","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:07:02 GMT
recorded_with: VCR 3.0.3
