---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"32a9fe5873536a0d1542f8cc6ad6c50e","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-P5ZGI50R","email":null,"reference":"32a9fe5873536a0d1542f8cc6ad6c50e","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-03T09:12:14+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8wcx6","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:13 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-P5ZGI50R","reference":"fe913aaa468a140246cca77a54962ca3","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-J91AHLAT","customer":"071-C-P5ZGI50R","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"fe913aaa468a140246cca77a54962ca3","description":null,"status":"Active","status_reason":"None","created_at":"2018-05-03T09:12:15+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-U4JQP8NF","payment_plan":"071-PP-J91AHLAT","reference":"fe913aaa468a140246cca77a54962ca3-0001","amount":100,"currency":null,"scheduled_date":"2018-05-04","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-85PIA4U8","payment_plan":"071-PP-J91AHLAT","reference":"fe913aaa468a140246cca77a54962ca3-0002","amount":100,"currency":null,"scheduled_date":"2018-05-11","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-8GLIBC3B","payment_plan":"071-PP-J91AHLAT","reference":"fe913aaa468a140246cca77a54962ca3-0003","amount":100,"currency":null,"scheduled_date":"2018-05-18","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-NYROJLPQ","payment_plan":"071-PP-J91AHLAT","reference":"fe913aaa468a140246cca77a54962ca3-0004","amount":100,"currency":null,"scheduled_date":"2018-05-25","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-QH989MCH","payment_plan":"071-PP-J91AHLAT","reference":"fe913aaa468a140246cca77a54962ca3-0005","amount":100,"currency":null,"scheduled_date":"2018-06-01","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:14 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/fe913aaa468a140246cca77a54962ca3?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156[...]
