---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"4e86228a390caeae9cc0539bcb7cf5c9","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-FMKF946F","email":null,"reference":"4e86228a390caeae9cc0539bcb7cf5c9","first_name":"Harrold","last_name":"Humphries","created_at":"2017-07-05T15:53:12+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke86c5u","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:53:13 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-FMKF946F","reference":"20f69375858c9564dbc6d7217dccdc54","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-NCZ9HFIE","customer":"071-C-FMKF946F","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"20f69375858c9564dbc6d7217dccdc54","description":null,"status":"Active","status_reason":"None","created_at":"2017-07-05T15:53:13+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-X9EGEQN0","payment_plan":"071-PP-NCZ9HFIE","reference":"20f69375858c9564dbc6d7217dccdc54-0001","amount":100,"currency":null,"scheduled_date":"2017-07-07","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-8GOZTAGN","payment_plan":"071-PP-NCZ9HFIE","reference":"20f69375858c9564dbc6d7217dccdc54-0002","amount":100,"currency":null,"scheduled_date":"2017-07-14","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-WU6W0L5D","payment_plan":"071-PP-NCZ9HFIE","reference":"20f69375858c9564dbc6d7217dccdc54-0003","amount":100,"currency":null,"scheduled_date":"2017-07-21","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-DYDJVUV9","payment_plan":"071-PP-NCZ9HFIE","reference":"20f69375858c9564dbc6d7217dccdc54-0004","amount":100,"currency":null,"scheduled_date":"2017-07-28","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-QU438P6G","payment_plan":"071-PP-NCZ9HFIE","reference":"20f69375858c9564dbc6d7217dccdc54-0005","amount":100,"currency":null,"scheduled_date":"2017-08-04","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:53:13 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/20f69375858c9564dbc6d7217dccdc54?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
   [...]
