---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"77d6ebe97c62f6bfde83a3dcd4eb0e93","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-YTWG2SDV","email":null,"reference":"77d6ebe97c62f6bfde83a3dcd4eb0e93","first_name":"Harrold","last_name":"Humphries","created_at":"2017-06-26T16:15:50+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke86c5u","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},"errors":[],"test":true}'
  recorded_at: Mon, 26 Jun 2017 06:15:50 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-YTWG2SDV","reference":"dc4742b026f7a36726370bc1f70a22a5","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-87M6LY80","customer":"071-C-YTWG2SDV","amount":100,"currency":"AUD","setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"dc4742b026f7a36726370bc1f70a22a5","description":null,"status":"Active","status_reason":"None","created_at":"2017-06-26T16:15:50+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-679O2E41","payment_plan":"071-PP-87M6LY80","reference":"dc4742b026f7a36726370bc1f70a22a5-0001","amount":100,"currency":"AUD","scheduled_date":"2017-06-30","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-8UKM7GAK","payment_plan":"071-PP-87M6LY80","reference":"dc4742b026f7a36726370bc1f70a22a5-0002","amount":100,"currency":"AUD","scheduled_date":"2017-07-07","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-H57BKEHH","payment_plan":"071-PP-87M6LY80","reference":"dc4742b026f7a36726370bc1f70a22a5-0003","amount":100,"currency":"AUD","scheduled_date":"2017-07-14","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-3DFCYSMH","payment_plan":"071-PP-87M6LY80","reference":"dc4742b026f7a36726370bc1f70a22a5-0004","amount":100,"currency":"AUD","scheduled_date":"2017-07-21","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-BBHZSVK8","payment_plan":"071-PP-87M6LY80","reference":"dc4742b026f7a36726370bc1f70a22a5-0005","amount":100,"currency":"AUD","scheduled_date":"2017-07-28","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Mon, 26 Jun 2017 06:15:51 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/dc4742b026f7a36726370bc1f70a22a5?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
   [...]
