---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"e65bdeda8eb3e458c40312d6d7621aab","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-AQN3UQXP","email":null,"reference":"e65bdeda8eb3e458c40312d6d7621aab","first_name":"Harrold","last_name":"Humphries","created_at":"2018-07-12T13:20:34+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke87tp7","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Thu, 12 Jul 2018 03:20:33 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-AQN3UQXP","reference":"23f95826f8424e8a96ca6f43790a87e0","setup_fee":0,"amount":100,"start_date":"2018-10-10","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-980JT0WZ","customer":"071-C-AQN3UQXP","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2018-10-10","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"23f95826f8424e8a96ca6f43790a87e0","description":null,"status":"Active","status_reason":"None","created_at":"2018-07-12T13:20:35+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-KKIXBR2U","payment_plan":"071-PP-980JT0WZ","reference":"23f95826f8424e8a96ca6f43790a87e0-0001","amount":100,"currency":null,"scheduled_date":"2018-10-12","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-XOAZVG0D","payment_plan":"071-PP-980JT0WZ","reference":"23f95826f8424e8a96ca6f43790a87e0-0002","amount":100,"currency":null,"scheduled_date":"2018-10-19","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-83CJV8X2","payment_plan":"071-PP-980JT0WZ","reference":"23f95826f8424e8a96ca6f43790a87e0-0003","amount":100,"currency":null,"scheduled_date":"2018-10-26","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-9FCH8386","payment_plan":"071-PP-980JT0WZ","reference":"23f95826f8424e8a96ca6f43790a87e0-0004","amount":100,"currency":null,"scheduled_date":"2018-11-02","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-C6KMFVW5","payment_plan":"071-PP-980JT0WZ","reference":"23f95826f8424e8a96ca6f43790a87e0-0005","amount":100,"currency":null,"scheduled_date":"2018-11-09","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Thu, 12 Jul 2018 03:20:34 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/23f95826f8424e8a96ca6f43790a87e0?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3459[...]
