---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"dc67c7a9b5f6f03654f03bfe514bb6a1","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-VA4JEU11","email":null,"reference":"dc67c7a9b5f6f03654f03bfe514bb6a1","first_name":"Harrold","last_name":"Humphries","created_at":"2019-04-29T19:17:04+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"0ewhyip8l697y4lj33r9","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:04 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-VA4JEU11","reference":"c4c384a703f381514543098f1db448f2","setup_fee":0,"amount":100,"start_date":"2019-07-28","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-24IJ1FPZ","customer":"071-C-VA4JEU11","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"c4c384a703f381514543098f1db448f2","description":null,"status":"Active","status_reason":"None","created_at":"2019-04-29T19:17:04+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-686O2QOT","payment_plan":"071-PP-24IJ1FPZ","reference":"c4c384a703f381514543098f1db448f2-0001","amount":100,"currency":null,"scheduled_date":"2019-08-02","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-FH7V8CLO","payment_plan":"071-PP-24IJ1FPZ","reference":"c4c384a703f381514543098f1db448f2-0002","amount":100,"currency":null,"scheduled_date":"2019-08-09","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-5LG1LDQD","payment_plan":"071-PP-24IJ1FPZ","reference":"c4c384a703f381514543098f1db448f2-0003","amount":100,"currency":null,"scheduled_date":"2019-08-16","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-BH12KQZW","payment_plan":"071-PP-24IJ1FPZ","reference":"c4c384a703f381514543098f1db448f2-0004","amount":100,"currency":null,"scheduled_date":"2019-08-23","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-Q9QFDA88","payment_plan":"071-PP-24IJ1FPZ","reference":"c4c384a703f381514543098f1db448f2-0005","amount":100,"currency":null,"scheduled_date":"2019-08-30","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:05 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/c4c384a703f381514543098f1db448f2?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941[...]
