---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"842da2a2bd6187484aca4955af75f7e2","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-S4W3LP3N","email":null,"reference":"842da2a2bd6187484aca4955af75f7e2","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-08T21:06:55.184+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8p2v0","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:06:55 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-S4W3LP3N","reference":"c708c4b51892c6d6c7ff9277da37ecea","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-T5S0J7LD","customer":"071-C-S4W3LP3N","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"c708c4b51892c6d6c7ff9277da37ecea","description":null,"status":"Active","status_reason":"None","created_at":"2018-05-08T21:06:55.814+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-8ZKLZVX1","payment_plan":"071-PP-T5S0J7LD","reference":"c708c4b51892c6d6c7ff9277da37ecea-0001","amount":100,"currency":null,"scheduled_date":"2018-05-11","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-AHKX8YK8","payment_plan":"071-PP-T5S0J7LD","reference":"c708c4b51892c6d6c7ff9277da37ecea-0002","amount":100,"currency":null,"scheduled_date":"2018-05-18","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-DAJKC936","payment_plan":"071-PP-T5S0J7LD","reference":"c708c4b51892c6d6c7ff9277da37ecea-0003","amount":100,"currency":null,"scheduled_date":"2018-05-25","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-TGN4281Q","payment_plan":"071-PP-T5S0J7LD","reference":"c708c4b51892c6d6c7ff9277da37ecea-0004","amount":100,"currency":null,"scheduled_date":"2018-06-01","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-8SGJ1DFL","payment_plan":"071-PP-T5S0J7LD","reference":"c708c4b51892c6d6c7ff9277da37ecea-0005","amount":100,"currency":null,"scheduled_date":"2018-06-08","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:06:56 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/c708c4b51892c6d6c7ff9277da37ecea?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186[...]
