---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases?limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"authorization":"475157","id":"071-P-2RRRHB94","card_number":"555555XXXXXX4444","card_holder":"123","card_expiry":"2019-12-31","card_token":"fke80mny","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Credit","amount":100,"decimal_amount":1.0,"successful":true,"message":"Approved","reference":"68fc1a05-9a49-4d55-8ae3-901fade0fae3","currency":"AUD","transaction_id":"071-P-2RRRHB94","settlement_date":null,"transaction_date":"2017-06-27T16:41:56+10:00","response_code":"00","captured":false,"captured_amount":0,"rrn":"071P2RRRHB94","cvv_match":"M","metadata":{},"addendum_data":{}},{"authorization":"949055","id":"071-P-9Y2PQF6C","card_number":"555555XXXXXX4444","card_holder":"123","card_expiry":"2019-12-31","card_token":"fke80mny","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Credit","amount":100,"decimal_amount":1.0,"successful":true,"message":"Approved","reference":"df09f969-7c8f-4503-8052-03c2873d3fcc","currency":"AUD","transaction_id":"071-P-9Y2PQF6C","settlement_date":null,"transaction_date":"2017-06-27T16:37:45+10:00","response_code":"00",[...]
