---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers?limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-C-EVSIY4YY","email":null,"reference":"6fda7b526a3ca9e538f0efa6ec4e6fae","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-08T21:06:43.610+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8mnnk","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},{"id":"071-C-ZCFWQ3GE","email":null,"reference":"39d7e6079c56c0210479d539ca5a73d9","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-08T21:06:43.064+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke88u83","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},{"id":"071-C-NLWG61NH","email":null,"reference":"66b02c73c5743d2e4870249b41a616ec","first_name":"Harrold[...]
