---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers?limit=10&offset=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-C-5XZ8AEB3","email":null,"reference":"5104699755480c8c429ee413804ce159","first_name":"Harrold","last_name":"Humphries","created_at":"2019-04-29T19:16:47+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"xbxcfh8kiaorczfj65ea","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},{"id":"071-C-QMKP54FZ","email":null,"reference":"75d2058ca47b2db6d025cf42a74a3b9b","first_name":"Harrold","last_name":"Humphries","created_at":"2019-04-29T19:16:47+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"78xdk1ts66vy46czhfrv","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},{"id":"071-C-CBKT0YC7","email":null,"reference":"e53046190de3c04ab64c7ee7241c87d7","first_name":[...]
