---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers?limit=10&offset=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3480@96677e4
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-C-U4FOQIH","email":null,"reference":"b411186e88edcc7b8b836b687753bcc5","first_name":"Harrold","last_name":"Humphries","created_at":"2018-07-25T13:15:37+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke81h7p","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},{"id":"071-C-IPJOX1GZ","email":null,"reference":"09d874a4630bc700970a81b6c1f1e654","first_name":"Harrold","last_name":"Humphries","created_at":"2018-07-25T13:15:35+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8x92e","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},{"id":"071-C-4XEP3WN5","email":null,"reference":"f58ca564817765c6961386699b53b0d6","first_name":"Harrold","l[...]
