---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers?limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-C-5MYKUG13","email":null,"reference":"26902925bfb4ddc6be6a3052afb764d9","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-03T09:12:03+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8to35","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},{"id":"071-C-1OA62EVF","email":null,"reference":"f0d2b09604fb6aa950b2be0cacf439fd","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-03T09:12:02+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8c39m","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},{"id":"071-C-XPT2YR1","email":null,"reference":"44f4269e9f571a063a79a9be804786ed","first_name":"Harrold","last_n[...]
