---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"2fd9c09364967b008856264546896452","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-LZ2Y8AVE","email":null,"reference":"2fd9c09364967b008856264546896452","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-03T09:12:10+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke894vm","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:10 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-LZ2Y8AVE","reference":"7d44de9001360471a76b4c3cdb800f94","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-67PPH2KE","customer":"071-C-LZ2Y8AVE","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"7d44de9001360471a76b4c3cdb800f94","description":null,"status":"Active","status_reason":"None","created_at":"2018-05-03T09:12:11+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-5EYKD5ZH","payment_plan":"071-PP-67PPH2KE","reference":"7d44de9001360471a76b4c3cdb800f94-0001","amount":100,"currency":null,"scheduled_date":"2018-05-04","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-TE2RFRKI","payment_plan":"071-PP-67PPH2KE","reference":"7d44de9001360471a76b4c3cdb800f94-0002","amount":100,"currency":null,"scheduled_date":"2018-05-11","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-DATZAEC6","payment_plan":"071-PP-67PPH2KE","reference":"7d44de9001360471a76b4c3cdb800f94-0003","amount":100,"currency":null,"scheduled_date":"2018-05-18","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-IMFEXDSG","payment_plan":"071-PP-67PPH2KE","reference":"7d44de9001360471a76b4c3cdb800f94-0004","amount":100,"currency":null,"scheduled_date":"2018-05-25","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-K0JRXB10","payment_plan":"071-PP-67PPH2KE","reference":"7d44de9001360471a76b4c3cdb800f94-0005","amount":100,"currency":null,"scheduled_date":"2018-06-01","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:10 GMT
recorded_with: VCR 3.0.3
