---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/credit_cards
    body:
      encoding: UTF-8
      string: '{"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Backend:
      - ip-10-100-34-142.ap-southeast-2.compute.internal
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"token":"02gg1kmaafmw92ah3mgo","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","card_category":"Debit","card_subcategory":"PrePaid","card_issuer":"Afriland
        First Bank","card_country":"Liberia","authorized":true,"transaction_count":408,"alias":null},"errors":[],"test":true}'
  recorded_at: Mon, 19 Jan 2026 12:44:08 GMT
recorded_with: VCR 6.3.1
