---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"9b14bf3aa2a0b7a92a738cb6e5e40858","customer_ip":"1.2.3.4","currency":"XXX","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"authorization":null,"id":"071-P-K9L4RMKG","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":false,"message":null,"reference":"9b14bf3aa2a0b7a92a738cb6e5e40858","currency":"XXX","transaction_id":"071-P-K9L4RMKG","settlement_date":null,"transaction_date":null,"response_code":"99","captured":false,"captured_amount":null,"rrn":null,"cvv_match":"U","metadata":{},"addendum_data":null},"errors":["Currency
        XXX is not valid for this merchant. Permitted currencies: USD, AUD, NZD, GBP,
        EUR, JPY, CHF, CAD, HKD, and SGD"],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:45:10 GMT
recorded_with: VCR 3.0.3
