---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"64a668464b54bd43e670c6603b6a1430","customer_ip":"1.2.3.4","currency":"XXX","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"authorization":null,"id":"071-P-YO4NZUU","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"1ri596z2qflb20p6prly","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":false,"message":null,"reference":"64a668464b54bd43e670c6603b6a1430","currency":"XXX","transaction_id":"071-P-YO4NZUU","settlement_date":null,"transaction_date":null,"response_code":"99","captured":false,"captured_amount":null,"rrn":null,"cvv_match":"U","metadata":{},"addendum_data":{}},"errors":["Currency
        XXX is not valid for this merchant. Permitted currencies: USD, EUR, GBP, AUD,
        CAD, JPY, CHF, HKD, NZD, SGD, and JPY"],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:24:20 GMT
recorded_with: VCR 3.0.3
