---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"464fbd694265d4f758aae5e80db3edae","customer_ip":"1.2.3.4","currency":"XXX","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"authorization":null,"id":"071-P-VN6FKPXZ","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke87txi","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":false,"message":null,"reference":"464fbd694265d4f758aae5e80db3edae","currency":"XXX","transaction_id":"071-P-VN6FKPXZ","settlement_date":null,"transaction_date":null,"response_code":"99","captured":false,"captured_amount":null,"rrn":null,"cvv_match":"U","metadata":{},"addendum_data":{}},"errors":["Currency
        XXX is not valid for this merchant. Permitted currencies: USD, AUD, NZD, GBP,
        EUR, JPY, CHF, CAD, HKD, and SGD"],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:19 GMT
recorded_with: VCR 3.0.3
