---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"24afa31905723b983269b560ea69305b","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.21.8
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-6FMTKA57","email":"hhump@test.com","reference":"24afa31905723b983269b560ea69305b","first_name":"Harrold","last_name":"Humphries","created_at":"2022-10-06T11:22:25+11:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"oqh8v4jtgsl8ckdka9s1","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null,"sdk_ready":true},"errors":[],"test":true}'
  recorded_at: Thu, 06 Oct 2022 00:22:25 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-6FMTKA57","reference":"7b6bc420610da917011cc24cfa35d98d","setup_fee":0,"amount":100,"start_date":"2023-01-04","end_date":"2023-04-04","frequency":"Weekly","anniversary":5,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.21.8
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-CT2VS286","customer":"071-C-6FMTKA57","amount":100,"currency":"AUD","setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2023-01-04","end_date":"2023-04-04","total_count":null,"total_amount":null,"payment_method":"Credit
        Card","reference":"7b6bc420610da917011cc24cfa35d98d","description":null,"status":"Active","status_reason":"None","created_at":"2022-10-06T11:22:26+11:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-GCDX05QC","payment_plan":"071-PP-CT2VS286","reference":"7b6bc420610da917011cc24cfa35d98d-0001","amount":100,"currency":"AUD","scheduled_date":"2023-01-06","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-6LM6H00S","payment_plan":"071-PP-CT2VS286","reference":"7b6bc420610da917011cc24cfa35d98d-0002","amount":100,"currency":"AUD","scheduled_date":"2023-01-13","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-EVK5KMZ2","payment_plan":"071-PP-CT2VS286","reference":"7b6bc420610da917011cc24cfa35d98d-0003","amount":100,"currency":"AUD","scheduled_date":"2023-01-20","payment_method":"Credit
        Card","status":"Scheduled","result":n[...]
