---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0//paypal/authorizations/071-PPA-3AM3CXFFKMFYI3QM?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PPA-3AM3CXFFKMFYI3QM","amount":12000,"decimal_amount":120.0,"captured_amount":0,"successful":true,"captured":false,"currency":"AUD","transaction_id":"071-PPA-3AM3CXFFKMFYI3QM","transaction_date":"2020-08-06T23:17:27+10:00","message":"Approved","response_code":"00","reference":"ref_12345_420768","refunded_amount":0,"balance_available_for_capture":13800,"order":"071-PPO-QMNDDIFZMCX0LA0G"},"errors":[],"test":true}'
  recorded_at: Thu, 06 Aug 2020 13:39:51 GMT
recorded_with: VCR 3.0.3
