---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"926b4a2f0d1a9e290759a6fa09b94f20","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"508758","id":"071-P-KZHVT2SV","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"926b4a2f0d1a9e290759a6fa09b94f20","currency":"AUD","transaction_id":"071-P-KZHVT2SV","settlement_date":"2017-06-27","transaction_date":"2017-06-27T15:09:22+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PKZHVT2SV","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 05:09:22 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-KZHVT2SV","amount":10000,"reference":"926b4a2f0d1a9e290759a6fa09b94f20","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498540162,"id":"071-R-NN6617E","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-NN6617E","reference":"926b4a2f0d1a9e290759a6fa09b94f20","currency":"AUD","successful":true,"transaction_date":"2017-06-27T15:09:22+10:00","response_code":"00","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071RNN6617E"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 05:09:22 GMT
recorded_with: VCR 3.0.3
