---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"448f9dbc503dc14bd355522ec8727c4b","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"744099","id":"071-P-S0KW0E9G","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8gqcl","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"448f9dbc503dc14bd355522ec8727c4b","currency":"AUD","transaction_id":"071-P-S0KW0E9G","settlement_date":"2018-05-08","transaction_date":"2018-05-08T21:08:04.525+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PS0KW0E9G","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:08:04 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-S0KW0E9G","amount":10000,"reference":"448f9dbc503dc14bd355522ec8727c4b","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1525777684","id":"071-R-8001963D","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-8001963D","reference":"448f9dbc503dc14bd355522ec8727c4b","currency":"AUD","successful":true,"transaction_date":"2018-05-08T21:08:04.818+10:00","response_code":"00","settlement_date":"2018-05-09","metadata":{},"standalone":false,"rrn":"071R8001963D"},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:08:05 GMT
recorded_with: VCR 3.0.3
