---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"904e8c64f428a5428b828017af520eab","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"810375","id":"071-P-SFZ08VMB","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"904e8c64f428a5428b828017af520eab","currency":"AUD","transaction_id":"071-P-SFZ08VMB","settlement_date":"2017-06-27","transaction_date":"2017-06-27T15:09:26+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PSFZ08VMB","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 05:09:26 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-SFZ08VMB","amount":10000,"reference":"904e8c64f428a5428b828017af520eab","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":1498540167,"id":"071-R-ZG3O434G","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-ZG3O434G","reference":"904e8c64f428a5428b828017af520eab","currency":"AUD","successful":true,"transaction_date":"2017-06-27T15:09:26+10:00","response_code":"00","settlement_date":"2017-06-28","metadata":{},"standalone":false,"rrn":"071RZG3O434G"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 05:09:27 GMT
recorded_with: VCR 3.0.3
