---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"2eadffda462761e575d0fa079e87813f","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"573952","id":"071-P-KNKLTJ6R","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8r2m1","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"2eadffda462761e575d0fa079e87813f","currency":"AUD","transaction_id":"071-P-KNKLTJ6R","settlement_date":"2018-08-12","transaction_date":"2018-08-12T11:19:08+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PKNKLTJ6R","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:19:06 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-KNKLTJ6R","amount":10000,"reference":"2eadffda462761e575d0fa079e87813f","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036749","id":"071-R-L5EY4P9C","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-L5EY4P9C","reference":"2eadffda462761e575d0fa079e87813f","currency":"AUD","successful":true,"transaction_date":"2018-08-12T11:19:09+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071RL5EY4P9C"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:19:07 GMT
recorded_with: VCR 3.0.3
