---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/bank_accounts
    body:
      encoding: UTF-8
      string: '{"bsb":"123-123","account_name":"Test name","account_number":"012345678","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-B-PZ1S6IP6","account_name":"Test
        name","account_number":"012345678","bsb":"123-123","created_at":"2017-06-27T16:03:14+10:00"},"errors":[],"test":true}'
  recorded_at: Tue, 27 Jun 2017 06:03:14 GMT
[...]
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/bank_accounts?limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
 [...]
