---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches?limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-BF-98WQLCO5","filename":"BATCH-v1-PURCHASE-TEST-20160601-LARGETEST001.csv","created_at":"2016-06-01T00:43:48+10:00","process_date":"2016-06-01","start_date":"2016-06-01","completed_date":null,"status":"Completed","type":"PURCHASE","reference":"LARGETEST001"},{"id":"071-BF-4VKDBOCI","filename":"BATCH-v1-PURCHASE-TEST-19000101-00009640223.csv","created_at":"2016-11-04T12:10:25+11:00","process_date":"1900-01-01","start_date":"2016-11-04","completed_date":"2016-11-04","status":"Completed","type":"PURCHASE","reference":"00009640223"},{"id":"071-BF-XGA5M3WH","filename":"BATCH-v1-PURCHASE-TEST-20160707-1000014.csv","created_at":"2016-07-08T12:16:48+10:00","process_date":"2016-07-07","start_date":"2016-07-08","completed_date":"2016-07-08","s[...]
