---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/batches?limit=10&offets=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-BF-PGGSPBF1","filename":"BATCH-v1-PURCHASE-TEST-20180101-test4.csv","created_at":"2018-01-30T01:58:52.963+11:00","process_date":"2018-01-01","start_date":null,"completed_date":null,"status":"Error","type":"PURCHASE","reference":"test4"},{"id":"071-BF-68TU3VJM","filename":"BATCH-v1-PURCHASE-20170712-123456789012348.csv","created_at":"2017-07-12T15:49:49.589+10:00","process_date":"2017-07-12","start_date":"2017-07-12","completed_date":"2017-07-12","status":"Completed","type":"PURCHASE","reference":"123456789012348"},{"id":"071-BF-K6GJ83S8","filename":"BATCH-v1-PURCHASE-TEST-20180101-test4.csv","created_at":"2018-01-30T17:03:03.954+11:00","process_date":"2018-01-01","start_date":null,"completed_date":null,"status":"Error"[...]
