---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"3b71734bbab76465384f0018f0b541fd","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"514786","id":"071-P-J8ELZUS1","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8q5e1","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"3b71734bbab76465384f0018f0b541fd","currency":"AUD","transaction_id":"071-P-J8ELZUS1","settlement_date":"2018-08-12","transaction_date":"2018-08-12T11:12:20+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PJ8ELZUS1","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:17 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds
    body:
      encoding: UTF-8
      string: '{"transaction_id":"071-P-J8ELZUS1","amount":10000,"reference":"3b71734bbab76465384f0018f0b541fd","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036340","id":"071-R-MGUCMT4K","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-MGUCMT4K","reference":"3b71734bbab76465384f0018f0b541fd","currency":"AUD","successful":true,"transaction_date":"2018-08-12T11:12:20+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071RMGUCMT4K"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:18 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/refunds/3b71734bbab76465384f0018f0b541fd?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3538@ea2e93d
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"1534036340","id":"071-R-MGUCMT4K","amount":10000,"refunded":"Approved","message":"Approved","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","transaction_id":"071-R-MGUCMT4K","reference":"3b71734bbab76465384f0018f0b541fd","currency":"AUD","successful":true,"transaction_date":"2018-08-12T11:12:20+10:00","response_code":"00","settlement_date":"2018-08-13","metadata":{},"standalone":false,"rrn":"071RMGUCMT4K"},"errors":[],"test":true}'
  recorded_at: Sun, 12 Aug 2018 01:12:18 GMT
recorded_with: VCR 3.0.3
