---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0//paypal/billing_agreements?from=2020/08/05&limit=10&offset=0&test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":[{"id":"071-PBA-PYG1L6M4CV4DYHTZ","name":"Sample
        Billing Agreement","description":"Stored PayPal account","state":"ACTIVE","payer":{"payer_info":{"email":"sb-qxxvi1315481@personal.example.com","first_name":"John","last_name":"Doe","payer_id":"CV5LBGRHGTXHY"}},"shipping_address":{"first_name":"John","last_name":"Doe","address_1":"100
        Kent Street","address_2":"Cafe Lane","city":"Sydney","state":"NSW","postcode":"2000","country":"AU"},"merchant_custom_data":"\u003cUUID\u003e","created_at":"2020-08-06T23:23:01+10:00"}],"errors":[],"test":true,"records":1,"total_records":1,"page":1,"total_pages":1}'
  recorded_at: Fri, 07 Aug 2020 03:09:56 GMT
recorded_with: VCR 3.0.3
