---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0//paypal/captures/071-PPC-TUOHT8YJHBY7SBJU?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PPC-TUOHT8YJHBY7SBJU","amount":12000,"decimal_amount":120.0,"captured_amount":12000,"successful":true,"message":"Approved","reference":"ref_12345_771673","captured":true,"currency":"AUD","transaction_id":"071-PPC-TUOHT8YJHBY7SBJU","transaction_date":"2020-08-06T23:19:37+10:00","response_code":"00","invoice_id":"ref_12345_771673","paypal_fee":318,"seller_receivable_net_amount":11682,"note_to_payer":"Sporting
        Goods","is_final_capture":true,"refunded_amount":0,"balance_available_for_refund":12000,"order":"071-PPO-U7RRMGM3OY3V2ZMN"},"errors":[],"test":true}'
  recorded_at: Thu, 06 Aug 2020 13:26:56 GMT
recorded_with: VCR 3.0.3
