---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"b936c129068e8609ecf222e9a16cf0ff","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-LCF26DLD","email":null,"reference":"b936c129068e8609ecf222e9a16cf0ff","first_name":"Harrold","last_name":"Humphries","created_at":"2018-07-12T13:20:40+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8uf3e","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Thu, 12 Jul 2018 03:20:40 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-LCF26DLD","reference":"758646dc116d47d2978d33aa2d75e78e","setup_fee":0,"amount":100,"start_date":"2018-10-10","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-67WFO2N2","customer":"071-C-LCF26DLD","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2018-10-10","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"758646dc116d47d2978d33aa2d75e78e","description":null,"status":"Active","status_reason":"None","created_at":"2018-07-12T13:20:41+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-P6LT8GPZ","payment_plan":"071-PP-67WFO2N2","reference":"758646dc116d47d2978d33aa2d75e78e-0001","amount":100,"currency":null,"scheduled_date":"2018-10-12","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-MC8A1MNN","payment_plan":"071-PP-67WFO2N2","reference":"758646dc116d47d2978d33aa2d75e78e-0002","amount":100,"currency":null,"scheduled_date":"2018-10-19","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-7KTNC7PJ","payment_plan":"071-PP-67WFO2N2","reference":"758646dc116d47d2978d33aa2d75e78e-0003","amount":100,"currency":null,"scheduled_date":"2018-10-26","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-EHV34CZG","payment_plan":"071-PP-67WFO2N2","reference":"758646dc116d47d2978d33aa2d75e78e-0004","amount":100,"currency":null,"scheduled_date":"2018-11-02","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-CJZ0JBZW","payment_plan":"071-PP-67WFO2N2","reference":"758646dc116d47d2978d33aa2d75e78e-0005","amount":100,"currency":null,"scheduled_date":"2018-11-09","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Thu, 12 Jul 2018 03:20:41 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-67WFO2N2
    body:
      encoding: UTF-8
      string: '{"new_status":"Suspended","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-67WFO2N2","customer":"071-C-LCF26DLD","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2018-10-10","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"758646dc116d47d2978d33aa2d75e78e","description":null,"status":"Suspended","status_reason":"Other","created_at":"2018-07-12T13:20:41+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[]},"errors":[],"test":true}'
  recorded_at: Thu, 12 Jul 2018 03:20:41 GMT
recorded_with: VCR 3.0.3
