---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"ed13db3b7a1337b42c5e6b5bd8f060a0","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-YV0KC8Q6","email":null,"reference":"ed13db3b7a1337b42c5e6b5bd8f060a0","first_name":"Harrold","last_name":"Humphries","created_at":"2019-04-29T19:17:08+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"wzh9d38q1hjoe8485n86","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:09 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-YV0KC8Q6","reference":"f1bc27225b059d338c628c9fb7dc5e1e","setup_fee":0,"amount":100,"start_date":"2019-07-28","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-GB22YQY2","customer":"071-C-YV0KC8Q6","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"f1bc27225b059d338c628c9fb7dc5e1e","description":null,"status":"Active","status_reason":"None","created_at":"2019-04-29T19:17:09+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-ZIN0WVAR","payment_plan":"071-PP-GB22YQY2","reference":"f1bc27225b059d338c628c9fb7dc5e1e-0001","amount":100,"currency":null,"scheduled_date":"2019-08-02","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-ZGZG11BP","payment_plan":"071-PP-GB22YQY2","reference":"f1bc27225b059d338c628c9fb7dc5e1e-0002","amount":100,"currency":null,"scheduled_date":"2019-08-09","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-JYHGSZBR","payment_plan":"071-PP-GB22YQY2","reference":"f1bc27225b059d338c628c9fb7dc5e1e-0003","amount":100,"currency":null,"scheduled_date":"2019-08-16","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-AMX4BXG8","payment_plan":"071-PP-GB22YQY2","reference":"f1bc27225b059d338c628c9fb7dc5e1e-0004","amount":100,"currency":null,"scheduled_date":"2019-08-23","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-R483N5BD","payment_plan":"071-PP-GB22YQY2","reference":"f1bc27225b059d338c628c9fb7dc5e1e-0005","amount":100,"currency":null,"scheduled_date":"2019-08-30","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:09 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-GB22YQY2
    body:
      encoding: UTF-8
      string: '{"new_status":"Suspended","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-GB22YQY2","customer":"071-C-YV0KC8Q6","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"f1bc27225b059d338c628c9fb7dc5e1e","description":null,"status":"Suspended","status_reason":"Other","created_at":"2019-04-29T19:17:09+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[]},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:09 GMT
recorded_with: VCR 3.0.3
