---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"98cc4d4c3540af7e59a7abc8f2971d03","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-FIJHJCYN","email":null,"reference":"98cc4d4c3540af7e59a7abc8f2971d03","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-08T21:07:02.614+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8dgeq","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:03 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-FIJHJCYN","reference":"080cd90809b76166b8e922a52a5bed8e","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-QEIWPJ26","customer":"071-C-FIJHJCYN","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"080cd90809b76166b8e922a52a5bed8e","description":null,"status":"Active","status_reason":"None","created_at":"2018-05-08T21:07:03.124+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-I6HOB3QC","payment_plan":"071-PP-QEIWPJ26","reference":"080cd90809b76166b8e922a52a5bed8e-0001","amount":100,"currency":null,"scheduled_date":"2018-05-11","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-1CYH6EY9","payment_plan":"071-PP-QEIWPJ26","reference":"080cd90809b76166b8e922a52a5bed8e-0002","amount":100,"currency":null,"scheduled_date":"2018-05-18","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-4OLBYM59","payment_plan":"071-PP-QEIWPJ26","reference":"080cd90809b76166b8e922a52a5bed8e-0003","amount":100,"currency":null,"scheduled_date":"2018-05-25","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-LOB2SUE7","payment_plan":"071-PP-QEIWPJ26","reference":"080cd90809b76166b8e922a52a5bed8e-0004","amount":100,"currency":null,"scheduled_date":"2018-06-01","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-FW93IWIJ","payment_plan":"071-PP-QEIWPJ26","reference":"080cd90809b76166b8e922a52a5bed8e-0005","amount":100,"currency":null,"scheduled_date":"2018-06-08","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:03 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-QEIWPJ26
    body:
      encoding: UTF-8
      string: '{"customer":"071-C-FIJHJCYN","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"080cd90809b76166b8e922a52a5bed8e","description":null,"status":"Active","status_reason":"None","created_a[...]
