---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"05b8918bb0223ab2e5a9f248a2e14382","customer_ip":"1.2.3.4","capture":false,"currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"734569","id":"071-P-RYOF0L78","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8n73t","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"05b8918bb0223ab2e5a9f248a2e14382","currency":"AUD","transaction_id":"071-P-RYOF0L78","settlement_date":null,"transaction_date":"2017-11-30T12:07:27+11:00","response_code":"00","captured":false,"captured_amount":0,"rrn":"071PRYOF0L78","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:07:28 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/071-P-RYOF0L78/capture
    body:
      encoding: UTF-8
      string: '{"amount":1000000000,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"authorization":"734569","id":"071-P-RYOF0L78","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8n73t","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"05b8918bb0223ab2e5a9f248a2e14382","currency":"AUD","transaction_id":"071-P-RYOF0L78","settlement_date":null,"transaction_date":"2017-11-30T12:07:27+11:00","response_code":"00","captured":false,"captured_amount":0,"rrn":"071PRYOF0L78","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":["Capture
        amount cannot be greater then the original authorised amount"],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:07:28 GMT
recorded_with: VCR 3.0.3
