---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"0a263d2ff5cb6ca1f954704bfabab6bc","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"977249","id":"071-P-EJAVMTQI","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8dyde","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"0a263d2ff5cb6ca1f954704bfabab6bc","currency":"AUD","transaction_id":"071-P-EJAVMTQI","settlement_date":"2018-05-03","transaction_date":"2018-05-03T09:12:42+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PEJAVMTQI","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:41 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/0a263d2ff5cb6ca1f954704bfabab6bc?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"977249","id":"071-P-EJAVMTQI","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8dyde","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"0a263d2ff5cb6ca1f954704bfabab6bc","currency":"AUD","transaction_id":"071-P-EJAVMTQI","settlement_date":"2018-05-03","transaction_date":"2018-05-03T09:12:42+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PEJAVMTQI","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:12:41 GMT
recorded_with: VCR 3.0.3
