---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"141facfb3d225f9bfff17c619f924e07","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"549687","id":"071-P-YY1BRYOB","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke85e12","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"141facfb3d225f9bfff17c619f924e07","currency":"AUD","transaction_id":"071-P-YY1BRYOB","settlement_date":"2018-05-08","transaction_date":"2018-05-08T21:07:20.415+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PYY1BRYOB","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:20 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/141facfb3d225f9bfff17c619f924e07?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"549687","id":"071-P-YY1BRYOB","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke85e12","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"141facfb3d225f9bfff17c619f924e07","currency":"AUD","transaction_id":"071-P-YY1BRYOB","settlement_date":"2018-05-08","transaction_date":"2018-05-08T21:07:20.415+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PYY1BRYOB","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:20 GMT
recorded_with: VCR 3.0.3
