---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"84652f9fb58dcba409c7e96ea51e19f5","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"571005","id":"071-P-YJUZ48EG","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8akd7","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"84652f9fb58dcba409c7e96ea51e19f5","currency":"AUD","transaction_id":"071-P-YJUZ48EG","settlement_date":"2018-05-08","transaction_date":"2018-05-08T21:07:21.918+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PYJUZ48EG","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:22 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/84652f9fb58dcba409c7e96ea51e19f5?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"571005","id":"071-P-YJUZ48EG","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke8akd7","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"84652f9fb58dcba409c7e96ea51e19f5","currency":"AUD","transaction_id":"071-P-YJUZ48EG","settlement_date":"2018-05-08","transaction_date":"2018-05-08T21:07:21.918+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071PYJUZ48EG","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:22 GMT
recorded_with: VCR 3.0.3
