---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0//paypal/authorizations/071-PPA-XB5CXLVNIGCNTB8V/void
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PPA-XB5CXLVNIGCNTB8V","amount":12000,"decimal_amount":120.0,"captured_amount":0,"successful":true,"captured":false,"currency":"AUD","transaction_id":"071-PPA-XB5CXLVNIGCNTB8V","transaction_date":"2020-08-07T15:25:39+10:00","message":"Approved","response_code":"00","reference":"ref_12345_157326","refunded_amount":0,"balance_available_for_capture":0,"order":"071-PPO-HUETI12NMEFQSRZX"},"errors":[],"test":true}'
  recorded_at: Fri, 07 Aug 2020 05:28:14 GMT
recorded_with: VCR 3.0.3
