---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"id":null,"email":null,"reference":null,"first_name":null,"last_name":null,"created_at":null,"address":{"address":null,"city":null,"state":null,"postcode":null,"country":null},"card_token":null,"card_number":null,"bank_account":null,"metadata":{}},"errors":["First
        name can''t be blank","Last name can''t be blank","Reference can''t be blank","Card
        token Card '''' could not be found."],"test":true}'
  recorded_at: Mon, 03 Jul 2017 04:16:10 GMT
recorded_with: VCR 3.0.3
