---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"fa5e63f8998c1a7fcce69af1955107be","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-2IG5S1O4","email":null,"reference":"fa5e63f8998c1a7fcce69af1955107be","first_name":"Harrold","last_name":"Humphries","created_at":"2017-06-26T16:19:18+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke86c5u","card_number":"512345XXXXXX2346","bank_account":null,"metadata":{}},"errors":[],"test":true}'
  recorded_at: Mon, 26 Jun 2017 06:19:18 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-2IG5S1O4","reference":"adf008c418ff85606e7ec3ff1e47dba3","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-YAJUS33Y","customer":"071-C-2IG5S1O4","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"adf008c418ff85606e7ec3ff1e47dba3","description":null,"status":"Active","status_reason":"None","created_at":"2017-06-26T16:19:18+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-VOLE17I","payment_plan":"071-PP-YAJUS33Y","reference":"adf008c418ff85606e7ec3ff1e47dba3-0001","amount":100,"currency":null,"scheduled_date":"2017-06-30","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-TFEGAPIW","payment_plan":"071-PP-YAJUS33Y","reference":"adf008c418ff85606e7ec3ff1e47dba3-0002","amount":100,"currency":null,"scheduled_date":"2017-07-07","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-4ZXI1R70","payment_plan":"071-PP-YAJUS33Y","reference":"adf008c418ff85606e7ec3ff1e47dba3-0003","amount":100,"currency":null,"scheduled_date":"2017-07-14","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-O93KHKFT","payment_plan":"071-PP-YAJUS33Y","reference":"adf008c418ff85606e7ec3ff1e47dba3-0004","amount":100,"currency":null,"scheduled_date":"2017-07-21","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-NQHXVI64","payment_plan":"071-PP-YAJUS33Y","reference":"adf008c418ff85606e7ec3ff1e47dba3-0005","amount":100,"currency":null,"scheduled_date":"2017-07-28","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Mon, 26 Jun 2017 06:19:18 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-YAJUS33Y
    body:
      encoding: UTF-8
      string: '{"id":"071-PP-YAJUS33Y","customer":"071-C-2IG5S1O4","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"adf008c418ff85606e7ec3ff1e47dba3","description":null,"status":"Active","status_re[...]
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-YAJUS33Y
    body:
      encoding: UTF-8
      string: '{"id":"071-PP-YAJUS33Y","customer":"071-C-2IG5S1O4","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"adf008c418ff85606e7ec3ff1e47dba3","description":null,"status":"Suspended","status_reason":"Other","created_at":"2017-06-26T16:19:18+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[],"new_status":"Active","test":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-YAJUS33Y","customer":"071-C-2IG5S1[...]
