---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"b3c3f2a61450265364896ddff6f36f50","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-7ZG2G8L0","email":null,"reference":"b3c3f2a61450265364896ddff6f36f50","first_name":"Harrold","last_name":"Humphries","created_at":"2019-04-29T19:17:19+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"hh8sqlx7bdpuhs4snq3t","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:19 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-7ZG2G8L0","reference":"2f1589154ed09082edbc8e564507482d","setup_fee":0,"amount":100,"start_date":"2019-07-28","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-ERIK4POR","customer":"071-C-7ZG2G8L0","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"2f1589154ed09082edbc8e564507482d","description":null,"status":"Active","status_reason":"None","created_at":"2019-04-29T19:17:19+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-NBP1H81E","payment_plan":"071-PP-ERIK4POR","reference":"2f1589154ed09082edbc8e564507482d-0001","amount":100,"currency":null,"scheduled_date":"2019-08-02","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-KHXOJ68M","payment_plan":"071-PP-ERIK4POR","reference":"2f1589154ed09082edbc8e564507482d-0002","amount":100,"currency":null,"scheduled_date":"2019-08-09","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-CT1RFPTI","payment_plan":"071-PP-ERIK4POR","reference":"2f1589154ed09082edbc8e564507482d-0003","amount":100,"currency":null,"scheduled_date":"2019-08-16","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-6HV3FW1K","payment_plan":"071-PP-ERIK4POR","reference":"2f1589154ed09082edbc8e564507482d-0004","amount":100,"currency":null,"scheduled_date":"2019-08-23","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-OLC4ZZXK","payment_plan":"071-PP-ERIK4POR","reference":"2f1589154ed09082edbc8e564507482d-0005","amount":100,"currency":null,"scheduled_date":"2019-08-30","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Mon, 29 Apr 2019 09:17:20 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-ERIK4POR
    body:
      encoding: UTF-8
      string: '{"customer":"071-C-7ZG2G8L0","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"2f1589154ed09082edbc8e564507482d","description":null,"status":"Active","status_reason":"None","created_a[...]
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-ERIK4POR
    body:
      encoding: UTF-8
      string: '{"customer":"071-C-7ZG2G8L0","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2019-07-28","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"2f1589154ed09082edbc8e564507482d","description":null,"status":"Suspended","status_reason":"Other","created_at":"2019-04-29T19:17:19+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[],"new_status":"Active","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3941@c1d8236
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-ERIK4POR","customer":"[...]
