---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"86ad55cd63c94c35a6bc4d88c2a50b48","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-DIUNU2FG","email":null,"reference":"86ad55cd63c94c35a6bc4d88c2a50b48","first_name":"Harrold","last_name":"Humphries","created_at":"2018-07-12T13:20:59+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke8wa1q","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Thu, 12 Jul 2018 03:20:58 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-DIUNU2FG","reference":"12498ea3ee142f3cbd72b36208d23eb2","setup_fee":0,"amount":100,"start_date":"2018-10-10","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-EUS4XPK8","customer":"071-C-DIUNU2FG","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2018-10-10","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"12498ea3ee142f3cbd72b36208d23eb2","description":null,"status":"Active","status_reason":"None","created_at":"2018-07-12T13:20:59+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-QY4L4DYQ","payment_plan":"071-PP-EUS4XPK8","reference":"12498ea3ee142f3cbd72b36208d23eb2-0001","amount":100,"currency":null,"scheduled_date":"2018-10-12","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-VB2E8U8","payment_plan":"071-PP-EUS4XPK8","reference":"12498ea3ee142f3cbd72b36208d23eb2-0002","amount":100,"currency":null,"scheduled_date":"2018-10-19","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-HNRIVC3O","payment_plan":"071-PP-EUS4XPK8","reference":"12498ea3ee142f3cbd72b36208d23eb2-0003","amount":100,"currency":null,"scheduled_date":"2018-10-26","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-9LZO5XZU","payment_plan":"071-PP-EUS4XPK8","reference":"12498ea3ee142f3cbd72b36208d23eb2-0004","amount":100,"currency":null,"scheduled_date":"2018-11-02","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-MGMYT26W","payment_plan":"071-PP-EUS4XPK8","reference":"12498ea3ee142f3cbd72b36208d23eb2-0005","amount":100,"currency":null,"scheduled_date":"2018-11-09","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Thu, 12 Jul 2018 03:20:59 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-EUS4XPK8
    body:
      encoding: UTF-8
      string: '{"customer":"071-C-DIUNU2FG","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2018-10-10","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"12498ea3ee142f3cbd72b36208d23eb2","description":null,"status":"Active","status_reason":"None","created_a[...]
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-EUS4XPK8
    body:
      encoding: UTF-8
      string: '{"customer":"071-C-DIUNU2FG","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2018-10-10","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"12498ea3ee142f3cbd72b36208d23eb2","description":null,"status":"Suspended","status_reason":"Other","created_at":"2018-07-12T13:20:59+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[],"new_status":"Active","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3459@214bedf
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-EUS4XPK8","customer":"[...]
