---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/customers
    body:
      encoding: UTF-8
      string: '{"first_name":"Harrold","last_name":"Humphries","reference":"888292ac9718b4cee9e0b582e4cf32ee","email":"hhump@test.com","ip_address":"180.200.33.181","card":{"card_holder":"Harrold
        Humphries Senior","card_number":"5123456789012346","expiry_date":"05/2023","cvv":"123"},"address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-C-FEVH9HBA","email":null,"reference":"888292ac9718b4cee9e0b582e4cf32ee","first_name":"Harrold","last_name":"Humphries","created_at":"2018-05-08T21:07:09.158+10:00","address":{"address":"1
        Harriet Road","city":"Kooliablin","state":"NSW","postcode":"2222","country":"Australia"},"card_token":"fke895x8","card_number":"512345XXXXXX2346","bank_account":null,"metadata":null},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:09 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans
    body:
      encoding: UTF-8
      string: '{"payment_method":"Credit Card","customer":"071-C-FEVH9HBA","reference":"088470f6a44d1c2285ed773bd527a034","setup_fee":0,"amount":100,"start_date":"2015-07-16","frequency":"Weekly","anniversary":5,"total_count":5,"total_amount":500,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-ZGBIW6JO","customer":"071-C-FEVH9HBA","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"088470f6a44d1c2285ed773bd527a034","description":null,"status":"Active","status_reason":"None","created_at":"2018-05-08T21:07:09.661+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[{"id":"071-PT-ZMOY2AZY","payment_plan":"071-PP-ZGBIW6JO","reference":"088470f6a44d1c2285ed773bd527a034-0001","amount":100,"currency":null,"scheduled_date":"2018-05-11","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-TH7OREXJ","payment_plan":"071-PP-ZGBIW6JO","reference":"088470f6a44d1c2285ed773bd527a034-0002","amount":100,"currency":null,"scheduled_date":"2018-05-18","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-BN425U8L","payment_plan":"071-PP-ZGBIW6JO","reference":"088470f6a44d1c2285ed773bd527a034-0003","amount":100,"currency":null,"scheduled_date":"2018-05-25","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-4CYU848P","payment_plan":"071-PP-ZGBIW6JO","reference":"088470f6a44d1c2285ed773bd527a034-0004","amount":100,"currency":null,"scheduled_date":"2018-06-01","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]},{"id":"071-PT-V02M921S","payment_plan":"071-PP-ZGBIW6JO","reference":"088470f6a44d1c2285ed773bd527a034-0005","amount":100,"currency":null,"scheduled_date":"2018-06-08","payment_method":"Credit
        Card","status":"Scheduled","result":null,"records":[]}]},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:07:10 GMT
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-ZGBIW6JO
    body:
      encoding: UTF-8
      string: '{"customer":"071-C-FEVH9HBA","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"088470f6a44d1c2285ed773bd527a034","description":null,"status":"Active","status_reason":"None","created_a[...]
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/payment_plans/071-PP-ZGBIW6JO
    body:
      encoding: UTF-8
      string: '{"customer":"071-C-FEVH9HBA","amount":100,"currency":null,"setup_fee":0,"frequency":"Weekly","anniversary":5,"start_date":"2015-07-16","end_date":null,"total_count":5,"total_amount":500,"payment_method":"Credit
        Card","reference":"088470f6a44d1c2285ed773bd527a034","description":null,"status":"Suspended","status_reason":"Other","created_at":"2018-05-08T21:07:09.661+10:00","failed_payment_fee":0,"retry_interval":3,"status_change_date":null,"payments":[],"new_status":"Active","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-PP-ZGBIW6JO","customer":"[...]
