---
http_interactions:
- request:
    method: delete
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/direct_debits/unknown
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Request-Version:
      - 1.20.11
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":null,"errors":["Direct Debit unknown
        could not be found."],"test":true}'
  recorded_at: Thu, 30 Nov 2017 01:18:04 GMT
recorded_with: VCR 3.0.3
