---
http_interactions:
- request:
    method: delete
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/utilities/apple_pay/domains/www.example99.com
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{},"errors":[],"test":true}'
  recorded_at: Mon, 04 Mar 2024 01:10:33 GMT
recorded_with: VCR 3.0.3
