---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/authenticate
    body:
      encoding: UTF-8
      string: '{"card_number":"5123456789012346","card_expiry":"08/2019","sca":{"enabled":true,"amount":100,"billing_address1":"SOME
        ADDRESS","billing_city":"Sydney","billing_country_code":"036","billing_first_name":"John","billing_last_name":"Smith","billing_postal_code":"2000","billing_state":"NSW","currency_code":"036","df_reference_id":"d05ca246e5bc598edb01","mobile_phone":"1234567890","email":"dev@fatzebra.com.au","transaction_mode":"mobile","transaction_type":"C","order_number":"d1d1a83d957267bc2c9a","shipping_address1":"SOME
        ADDRESS","shipping_state":"NSW","shipping_city":"Sydney","shipping_country_code":"036","shipping_address2":"SOME
        ADDRESS","shipping_address3":"SOME ADDRESS","shipping_postal_code":"2000","billing_phone":"1234567890","work_phone":"1234567890","billing_address2":"SOME
        ADDRESS","billing_address3":"SOME ADDRESS","authentication_indicator":"01","product_code":"PHY","installment":2,"purchase_date":"20200911152805","recurring_end":"20200911","recurring_frequency":31},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"ThreeDSVersion":"1.0.2","Enrolled":"U","ErrorDesc":"Error
        Validating Credit Card Expiration Information Passed (YYMM) [1908] ","ErrorNo":"4090","EciFlag":"00","OrderId":"8010295920071260","TransactionId":"rIJUC8L96XMO77f10rV0","TransactionType":null,"SignatureVerification":null,"CardBrand":"MASTERCARD","CardBin":"512345","DSTransactionId":null,"RawACSUrl":null,"ACSUrl":null,"StepUpUrl":null,"Cavv":null,"PAResStatus":null,"Payload":null,"Xid":null,"ReasonCode":null,"ReasonDesc":null,"ChallengeRequired":null,"StatusReason":null,"ACSTransactionId":null,"ThreeDSServerTransactionId":null},"errors":"Error
        Validating Credit Card Expiration Information Passed (YYMM) [1908] ","test":true}'
  recorded_at: Wed, 11 Sep 2019 05:28:06 GMT
recorded_with: VCR 3.0.3
