---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/credit_cards
    body:
      encoding: UTF-8
      string: '{"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"token":"fte6oxo0e3m7psaqt9y8","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","card_issuer":"Banco
        Del Pichincha, C.A.","card_country":"Ecuador","authorized":true,"transaction_count":0,"alias":null},"errors":[],"test":true}'
  recorded_at: Fri, 13 Dec 2019 03:36:47 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/authenticate
    body:
      encoding: UTF-8
      string: '{"card_token":"INVALID","amount":100,"currency":"AUD","customer_ip":"111.111.111.111","sca":{"type":"enrollment","merchant_reference_code":"70e5d673-81f3-484e-a39d-2edcf5c5d972","customer":{"address_1":"23
        Smith Road","address_2":"North Shore","city":"Canberra","country":"AU","state":"NSW","email":"test@test.com","first_name":"James","last_name":"Smith","phone_number":"0444555666","post_code":"2000","passport_number":"X1234567890","passport_country":"036","account_changed_at":"20191210","account_created_at":"20191210","account_password_changed_at":"20191210"},"shipping_address":{"address_1":"23
        Smith Road","address_2":"North Shore","city":"Sydney","country":"AU","state":"NSW","email":"test@test.com","first_name":"James","last_name":"Smith","phone_number":"0444555666","post_code":"2000","method":"pickup","destination_code":"01"},"custom":{"transaction_mode":"mobile","reference_id":"065013652a629f68fe0c13b062664bde","merchant_name":"TEST","merchant_new_customer":true,"preorder":1,"http_accept":"text/html","http_user_agent":"Mozilla/5.0
        (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0","recurring_end_date":"20201201","recurring_frequency":3,"recurring_original_purchase_date":"2019120112:00:00"},"items":[{"unit_price":23.3,"product_description":"Widgets","product_name":"Watch","quantity":1,"product_sku":"9999","passenger_first_name":"John","passenger_last_name":"Smith"}],"airline_data":{"legs":[{"carrier_code":"code","departure_date":"20221012","destination":"SYD","originating_airport_code":"MEL"}],"number_of_passengers":2,"passengers":[{"first_name":"John","last_name":"Smith"},{"first_name":"Megan","last_name":"Doe"}]}},"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":null,"errors":["Card not found"],"test":true}'
  recorded_at: Fri, 13 Dec 2019 03:36:47 GMT
recorded_with: VCR 3.0.3
