---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/authenticate/session
    body:
      encoding: UTF-8
      string: '{"currency":"INVALID","amount":100,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Version:
      - 1.21.8
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":null,"errors":["INVALID is not valid
        for this merchant. Permitted currencies: USD, EUR, GBP, AUD, CAD, JPY, CHF,
        HKD, NZD, SGD, and JPY"],"test":true}'
  recorded_at: Fri, 13 Dec 2019 00:52:56 GMT
recorded_with: VCR 3.0.3
