---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"135bc1943a41c90541301df0d75a6179","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"730811","id":"071-P-4S040K1D","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke83lv8","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"135bc1943a41c90541301df0d75a6179","currency":"AUD","transaction_id":"071-P-4S040K1D","settlement_date":"2018-05-03","transaction_date":"2018-05-03T09:13:01+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P4S040K1D","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:13:00 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/void
    body:
      encoding: UTF-8
      string: '{"id":"071-P-4S040K1D","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-3156@6c1a40b
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"730811","id":"071-P-4S040K1D","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke83lv8","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":false,"message":"Voided","reference":"135bc1943a41c90541301df0d75a6179","currency":"AUD","transaction_id":"071-P-4S040K1D","settlement_date":"2018-05-03","transaction_date":"2018-05-03T09:13:01+10:00","response_code":"00","captured":true,"captured_amount":0,"rrn":"071P4S040K1D","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 02 May 2018 23:13:00 GMT
recorded_with: VCR 3.0.3
