---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases
    body:
      encoding: UTF-8
      string: '{"amount":10000,"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"reference":"140931b53c036451ca852d3a9ee43111","customer_ip":"1.2.3.4","currency":"AUD","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"306229","id":"071-P-7M5UKKNR","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":true,"message":"Approved","reference":"140931b53c036451ca852d3a9ee43111","currency":"AUD","transaction_id":"071-P-7M5UKKNR","settlement_date":"2017-07-05","transaction_date":"2017-07-05T15:43:55+10:00","response_code":"00","captured":true,"captured_amount":10000,"rrn":"071P7M5UKKNR","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:43:55 GMT
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/purchases/void
    body:
      encoding: UTF-8
      string: '{"id":"071-P-7M5UKKNR","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"authorization":"306229","id":"071-P-7M5UKKNR","card_number":"512345XXXXXX2346","card_holder":"Matthew
        Savage","card_expiry":"2030-02-28","card_token":"fke86c5u","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","amount":10000,"decimal_amount":100.0,"successful":false,"message":"Voided","reference":"140931b53c036451ca852d3a9ee43111","currency":"AUD","transaction_id":"071-P-7M5UKKNR","settlement_date":"2017-07-05","transaction_date":"2017-07-05T15:43:55+10:00","response_code":"00","captured":true,"captured_amount":0,"rrn":"071P7M5UKKNR","cvv_match":"M","metadata":{},"addendum_data":{}},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:43:56 GMT
recorded_with: VCR 3.0.3
