---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/credit_cards
    body:
      encoding: UTF-8
      string: '{"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":{"token":"fke860ti","card_holder":"","card_number":null,"card_expiry":null,"card_type":null,"card_category":null,"card_subcategory":null,"authorized":false,"transaction_count":0,"alias":null},"errors":["Card
        holder can''t be blank","Card number can''t be blank","Expiry date is missing
        or invalid.","CVV is required"," is not an accepted card type"],"test":true}'
  recorded_at: Mon, 03 Jul 2017 04:16:09 GMT
recorded_with: VCR 3.0.3
