---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/utilities/apple_pay/domains/www.example.com?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"status":"Active","domain":"www.example.com","created_at":"2023-04-14T15:15:45+10:00","updated_at":"2023-04-14T05:15:47+00:00"},"errors":[],"test":true}'
  recorded_at: Wed, 28 Feb 2024 06:06:22 GMT
recorded_with: VCR 3.0.3
