---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/credit_cards
    body:
      encoding: UTF-8
      string: '{"card_holder":"Matthew Savage","card_number":"5123456789012346","card_expiry":"02/2030","cvv":123,"test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.21.8
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"token":"o723qqzihmdogtbe1yz7","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","card_issuer":"Afriland
        First Bank","card_country":"Benin","authorized":true,"transaction_count":0,"alias":null},"errors":[],"test":true}'
  recorded_at: Wed, 10 Jun 2020 06:59:25 GMT
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/credit_cards/o723qqzihmdogtbe1yz7?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.21.8
      X-Backend:
      - gateway
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"token":"o723qqzihmdogtbe1yz7","card_holder":"Matthew
        Savage","card_number":"512345XXXXXX2346","card_expiry":"2030-02-28","card_type":"MasterCard","card_category":"Credit","card_subcategory":"Standard","card_issuer":"Afriland
        First Bank","card_country":"Benin","authorized":true,"transaction_count":0,"alias":null},"errors":[],"test":true}'
  recorded_at: Wed, 10 Jun 2020 06:59:25 GMT
recorded_with: VCR 3.0.3
