---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/bank_accounts
    body:
      encoding: UTF-8
      string: '{"bsb":"123-123","account_name":"Test name","account_number":"012345678","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.19.41
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-B-YO282XDY","account_name":"Test
        name","account_number":"012345678","bsb":"123-123","created_at":"2017-07-05T15:53:07+10:00"},"errors":[],"test":true}'
  recorded_at: Wed, 05 Jul 2017 05:53:07 GMT
recorded_with: VCR 3.0.3
