---
http_interactions:
- request:
    method: post
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/bank_accounts
    body:
      encoding: UTF-8
      string: '{"bsb":"123-123","account_name":"Test name","account_number":"012345678","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Request-Version:
      - 1.16.9-3186@7b619da
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"id":"071-B-DUOBBRII","account_name":"Test
        name","account_number":"012345678","bsb":"123-123","created_at":"2018-05-08T21:06:31.659+10:00"},"errors":[],"test":true}'
  recorded_at: Tue, 08 May 2018 11:06:31 GMT
recorded_with: VCR 3.0.3
